In [1]:
import pandas as pd
import os

In [2]:
data_path = './../data'

# Table of Contents
1. [Victoria Forecast Demand](#1)
2. [SA Forecast Demand](#2)
3. [QLD Forecast Demand](#3)
4. [QLD Temperatures](#4)
5. [SA Temperatures](#5)
6. [Victoria Temperature](#6)
7. [QLD Total Demand](#qld-total-demand)
8. [SA Total Demand](#sa-total-demand)
9. [Victoria Total Demand](#victoria-total-demand)
10. [NSW Forecast Demand](#nsw-forecast-demand)
11. [NSW temperature](#nsw-temperature)
12. [NSW Total Demand](#nsw-total-demand)

# 1: operational demand actual, half-hourly, consolidated

In [145]:
df1 = pd.read_csv(os.path.join(data_path, 'operational_demand_actual_hh_consolidated.csv'), parse_dates=['INTERVAL_DATETIME', 'LASTCHANGED'], )
df1.head()

,I,OPERATIONAL_DEMAND,ACTUAL,3,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
0,D,OPERATIONAL_DEMAND,ACTUAL,3,NSW1,2023-09-19 08:00:00,6860,0,0,2023-09-19 08:00:01
1,D,OPERATIONAL_DEMAND,ACTUAL,3,QLD1,2023-09-19 08:00:00,5745,0,0,2023-09-19 08:00:01
2,D,OPERATIONAL_DEMAND,ACTUAL,3,SA1,2023-09-19 08:00:00,1290,0,0,2023-09-19 08:00:01
3,D,OPERATIONAL_DEMAND,ACTUAL,3,TAS1,2023-09-19 08:00:00,1253,0,0,2023-09-19 08:00:01
4,D,OPERATIONAL_DEMAND,ACTUAL,3,VIC1,2023-09-19 08:00:00,4896,0,0,2023-09-19 08:00:01

In [146]:
df1.tail()

,I,OPERATIONAL_DEMAND,ACTUAL,3,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
96900,D,OPERATIONAL_DEMAND,ACTUAL,3,NSW1,2023-03-04 03:00:00,6392,0,0,2023-03-04 03:00:01
96901,D,OPERATIONAL_DEMAND,ACTUAL,3,QLD1,2023-03-04 03:00:00,5680,0,0,2023-03-04 03:00:01
96902,D,OPERATIONAL_DEMAND,ACTUAL,3,SA1,2023-03-04 03:00:00,1197,0,0,2023-03-04 03:00:01
96903,D,OPERATIONAL_DEMAND,ACTUAL,3,TAS1,2023-03-04 03:00:00,999,0,0,2023-03-04 03:00:01
96904,D,OPERATIONAL_DEMAND,ACTUAL,3,VIC1,2023-03-04 03:00:00,3981,0,0,2023-03-04 03:00:01

In [147]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96905 entries, 0 to 96904
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   I                              96905 non-null  object
 1   OPERATIONAL_DEMAND             96905 non-null  object
 2   ACTUAL                         96905 non-null  object
 3   3                              96905 non-null  int64
 4   REGIONID                       96905 non-null  object
 5   INTERVAL_DATETIME              96905 non-null  datetime64[ns]
 6   OPERATIONAL_DEMAND.1           96905 non-null  int64
 7   OPERATIONAL_DEMAND_ADJUSTMENT  96905 non-null  int64
 8   WDR_ESTIMATE                   96905 non-null  int64
 9   LASTCHANGED                    96905 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 7.4+ MB

In [148]:
df1.describe()

,3,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
count,96905.0,96905,96905.000000,96905.0,96905.000000,96905
mean,3.0,2023-08-28 17:02:50.889015040,4229.114256,0.0,0.005913,2023-08-28 17:02:52.190919424
min,3.0,2023-02-05 00:00:00,-26.000000,0.0,0.000000,2023-02-05 00:00:02
25%,3.0,2023-05-20 00:30:00,1287.000000,0.0,0.000000,2023-05-20 00:30:01
50%,3.0,2023-08-28 23:00:00,4591.000000,0.0,0.000000,2023-08-28 23:00:01
75%,3.0,2023-12-07 21:30:00,6472.000000,0.0,0.000000,2023-12-07 21:30:01
max,3.0,2024-03-17 20:00:00,13643.000000,0.0,21.000000,2024-03-17 20:00:01
std,0.0,NaN,2763.717754,0.0,0.242607,NaN

In [149]:
df1.shape

(96905, 10)

In [150]:
df1.isnull().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL                           0
3                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

In [151]:
df1.isna().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL                           0
3                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

# 2: operational demand forecast, half-hourly, consolidated

In [152]:
df2 = pd.read_csv(
    os.path.join(data_path, 'operational_demand_forecast_hh_consolidated.csv'), 
    parse_dates=['INTERVAL_DATETIME', 'LOAD_DATE', 'LASTCHANGED'],
)
df2.head()

,I,OPERATIONAL_DEMAND,FORECAST,1,REGIONID,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
0,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-10 23:00:00,2023-07-10 22:27:39,9090.0,8950,8810.0,2023-07-10 22:27:39
1,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-10 23:30:00,2023-07-10 22:27:39,8912.0,8753,8593.0,2023-07-10 22:27:39
2,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 00:00:00,2023-07-10 22:27:39,8788.0,8608,8429.0,2023-07-10 22:27:39
3,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 00:30:00,2023-07-10 22:27:39,8642.0,8444,8246.0,2023-07-10 22:27:39
4,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 01:00:00,2023-07-10 22:27:39,8486.0,8270,8055.0,2023-07-10 22:27:39

In [153]:
df2.tail()

,I,OPERATIONAL_DEMAND,FORECAST,1,REGIONID,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
39982240,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 22:00:00,2023-12-21 06:57:31,4707.0,4376,4044.0,2023-12-21 06:57:31
39982241,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 22:30:00,2023-12-21 06:57:31,4641.0,4314,3987.0,2023-12-21 06:57:31
39982242,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 23:00:00,2023-12-21 06:57:31,4604.0,4280,3956.0,2023-12-21 06:57:31
39982243,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 23:30:00,2023-12-21 06:57:31,4705.0,4374,4043.0,2023-12-21 06:57:31
39982244,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-30 00:00:00,2023-12-21 06:57:31,4677.0,4348,4018.0,2023-12-21 06:57:31

In [154]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39982245 entries, 0 to 39982244
Data columns (total 11 columns):
 #   Column                    Dtype
---  ------                    -----
 0   I                         object
 1   OPERATIONAL_DEMAND        object
 2   FORECAST                  object
 3   1                         int64
 4   REGIONID                  object
 5   INTERVAL_DATETIME         datetime64[ns]
 6   LOAD_DATE                 datetime64[ns]
 7   OPERATIONAL_DEMAND_POE10  float64
 8   OPERATIONAL_DEMAND_POE50  int64
 9   OPERATIONAL_DEMAND_POE90  float64
 10  LASTCHANGED               datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 3.3+ GB

In [155]:
df2.describe()

,1,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
count,39982245.0,39982245,39982245,3.998224e+07,3.998224e+07,3.998224e+07,39982245
mean,1.0,2023-08-31 16:04:20.799421440,2023-08-27 09:16:58.416956416,4.457400e+03,4.229406e+03,4.001412e+03,2023-08-27 09:16:58.416956416
min,1.0,2023-02-05 00:30:00,2023-02-04 23:27:41,-3.150000e+02,-3.020000e+02,-2.890000e+02,2023-02-04 23:27:41
25%,1.0,2023-05-21 22:30:00,2023-05-17 15:57:58,1.383000e+03,1.291000e+03,1.202000e+03,2023-05-17 15:57:58
50%,1.0,2023-08-31 16:00:00,2023-08-27 08:57:32,4.867000e+03,4.600000e+03,4.326000e+03,2023-08-27 08:57:32
75%,1.0,2023-12-11 09:30:00,2023-12-07 02:27:32,6.755000e+03,6.444000e+03,6.136000e+03,2023-12-07 02:27:32
max,1.0,2024-03-26 00:00:00,2024-03-17 19:57:42,1.472900e+04,1.393900e+04,1.340800e+04,2024-03-17 19:57:42
std,0.0,NaN,NaN,2.884793e+03,2.757393e+03,2.633886e+03,NaN

In [156]:
df2.shape

(39982245, 11)

In [157]:
df2.isnull().sum()

I                           0
OPERATIONAL_DEMAND          0
FORECAST                    0
1                           0
REGIONID                    0
INTERVAL_DATETIME           0
LOAD_DATE                   0
OPERATIONAL_DEMAND_POE10    0
OPERATIONAL_DEMAND_POE50    0
OPERATIONAL_DEMAND_POE90    0
LASTCHANGED                 0
dtype: int64

In [158]:
df2.isna().sum()

I                           0
OPERATIONAL_DEMAND          0
FORECAST                    0
1                           0
REGIONID                    0
INTERVAL_DATETIME           0
LOAD_DATE                   0
OPERATIONAL_DEMAND_POE10    0
OPERATIONAL_DEMAND_POE50    0
OPERATIONAL_DEMAND_POE90    0
LASTCHANGED                 0
dtype: int64

# 3

In [159]:
df3 = pd.read_csv(
    os.path.join(data_path, 'public_actual_operational_demand_five_min_consolidated.csv'), 
    parse_dates=['INTERVAL_DATETIME', 'LASTCHANGED']
)

In [160]:
df3.head()

,I,OPERATIONAL_DEMAND,ACTUAL5M,1,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
0,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:05:00,7886,0,0,2023-03-17 00:30:01
1,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:10:00,7836,0,0,2023-03-17 00:30:01
2,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:15:00,7786,0,0,2023-03-17 00:30:01
3,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:20:00,7735,0,0,2023-03-17 00:30:01
4,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:25:00,7685,0,0,2023-03-17 00:30:01

In [161]:
df3.tail()

,I,OPERATIONAL_DEMAND,ACTUAL5M,1,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
25331755,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:10:00,5375,0,0,2024-03-16 20:30:02
25331756,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:15:00,5343,0,0,2024-03-16 20:30:02
25331757,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:20:00,5311,0,0,2024-03-16 20:30:02
25331758,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:25:00,5279,0,0,2024-03-16 20:30:02
25331759,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:30:00,5247,0,0,2024-03-16 20:30:02

In [162]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25331760 entries, 0 to 25331759
Data columns (total 10 columns):
 #   Column                         Dtype
---  ------                         -----
 0   I                              object
 1   OPERATIONAL_DEMAND             object
 2   ACTUAL5M                       object
 3   1                              int64
 4   REGIONID                       object
 5   INTERVAL_DATETIME              datetime64[ns]
 6   OPERATIONAL_DEMAND.1           int64
 7   OPERATIONAL_DEMAND_ADJUSTMENT  int64
 8   WDR_ESTIMATE                   int64
 9   LASTCHANGED                    datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 1.9+ GB

In [163]:
df3.describe()

,1,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
count,25331760.0,25331760,2.533176e+07,25331760.0,2.533176e+07,25331760
mean,1.0,2023-09-16 02:24:55.135422720,4.222741e+03,0.0,5.305277e-03,2023-09-16 02:37:26.451251456
min,1.0,2023-03-16 00:05:00,-2.600000e+01,0.0,0.000000e+00,2023-03-16 00:30:01
25%,1.0,2023-06-16 11:30:00,1.294000e+03,0.0,0.000000e+00,2023-06-16 11:30:03
50%,1.0,2023-09-16 02:25:00,4.588000e+03,0.0,0.000000e+00,2023-09-16 02:30:01
75%,1.0,2023-12-16 17:20:00,6.458000e+03,0.0,0.000000e+00,2023-12-16 17:30:01
max,1.0,2024-03-17 20:00:00,1.364300e+04,0.0,2.100000e+01,2024-03-17 20:00:01
std,0.0,NaN,2.756310e+03,0.0,2.150852e-01,NaN

In [164]:
df3.shape

(25331760, 10)

In [165]:
df3.isnull().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL5M                         0
1                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

In [166]:
df3.isna().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL5M                         0
1                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

# 4

In [167]:
df4 = pd.read_csv(
    os.path.join(data_path, 'public_prices_consolidated.csv'), 
    parse_dates=['SETTLEMENTDATE']
)

In [168]:
df4.head()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
0,D,DREGION,NaN,2,2024-01-23 04:05:00,1,NSW1,0,41.81844,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
1,D,DREGION,NaN,2,2024-01-23 04:05:00,1,QLD1,0,62.73000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
2,D,DREGION,NaN,2,2024-01-23 04:05:00,1,SA1,0,34.16184,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
3,D,DREGION,NaN,2,2024-01-23 04:05:00,1,TAS1,0,53.71593,0,...,0,0.45,0.45,0,0.0,0.0,0,2.65,2.65,0
4,D,DREGION,NaN,2,2024-01-23 04:05:00,1,VIC1,0,34.94000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0

In [169]:
df4.tail()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
633745,D,DREGION,NaN,2,2024-02-26 04:00:00,1,NSW1,0,68.00000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633746,D,DREGION,NaN,2,2024-02-26 04:00:00,1,QLD1,0,70.92975,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633747,D,DREGION,NaN,2,2024-02-26 04:00:00,1,SA1,0,50.43366,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633748,D,DREGION,NaN,2,2024-02-26 04:00:00,1,TAS1,0,68.21000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.70,3.70,0
633749,D,DREGION,NaN,2,2024-02-26 04:00:00,1,VIC1,0,35.95003,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0

In [170]:
df4.dtypes

I                           object
DREGION                     object
Unnamed: 2                 float64
2                            int64
SETTLEMENTDATE      datetime64[ns]
                         ...
LOWER5MINROP               float64
LOWER5MINAPCFLAG             int64
LOWERREGRRP                float64
LOWERREGROP                float64
LOWERREGAPCFLAG              int64
Length: 120, dtype: object

In [171]:
df4.shape

(633750, 120)

In [172]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633750 entries, 0 to 633749
Columns: 120 entries, I to LOWERREGAPCFLAG
dtypes: datetime64[ns](1), float64(101), int64(15), object(3)
memory usage: 580.2+ MB

In [173]:
df4.describe()

,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,INTERVENTION,RRP,EEP,ROP,APCFLAG,MARKETSUSPENDEDFLAG,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
count,0.0,633750.0,633750,633750.0,633750.000000,633750.000000,633750.0,6.337500e+05,633750.000000,633750.000000,...,633750.000000,633750.000000,633750.000000,633750.0,633750.000000,633750.000000,633750.0,633750.000000,633750.000000,633750.000000
mean,NaN,2.0,2023-08-09 23:19:24.347929344,1.0,0.000237,76.137472,0.0,9.643399e+01,0.005901,0.000732,...,0.000013,3.615498,3.615225,0.0,1.655954,1.655891,0.0,8.262021,8.497738,0.000006
min,NaN,2.0,2023-01-01 04:05:00,1.0,0.000000,-999.999470,0.0,-9.999995e+02,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,NaN,2.0,2023-04-22 02:10:00,1.0,0.000000,19.120000,0.0,1.912000e+01,0.000000,0.000000,...,0.000000,0.380000,0.380000,0.0,0.150000,0.150000,0.0,3.610000,3.610000,0.000000
50%,NaN,2.0,2023-08-10 02:47:30,1.0,0.000000,62.611005,0.0,6.261016e+01,0.000000,0.000000,...,0.000000,0.390000,0.390000,0.0,0.390000,0.390000,0.0,3.990000,3.990000,0.000000
75%,NaN,2.0,2023-11-28 03:25:00,1.0,0.000000,100.020000,0.0,1.000200e+02,0.000000,0.000000,...,0.000000,1.400000,1.400000,0.0,0.410000,0.410000,0.0,7.120000,7.120000,0.000000
max,NaN,2.0,2024-03-17 04:00:00,1.0,1.000000,16600.000000,0.0,2.325000e+06,20.000000,2.000000,...,4.000000,16600.000000,16600.000000,0.0,999.000000,999.000000,0.0,16600.000000,166009.880000,4.000000
std,NaN,0.0,NaN,0.0,0.015383,330.481367,0.0,4.183949e+03,0.297604,0.035030,...,0.007106,59.854095,59.854106,0.0,5.647249,5.647262,0.0,27.012011,209.229543,0.005025

In [174]:
df4.isnull().sum()

I                        0
DREGION                  0
Unnamed: 2          633750
2                        0
SETTLEMENTDATE           0
                     ...
LOWER5MINROP             0
LOWER5MINAPCFLAG         0
LOWERREGRRP              0
LOWERREGROP              0
LOWERREGAPCFLAG          0
Length: 120, dtype: int64

In [175]:
df4.isna().sum()

I                        0
DREGION                  0
Unnamed: 2          633750
2                        0
SETTLEMENTDATE           0
                     ...
LOWER5MINROP             0
LOWER5MINAPCFLAG         0
LOWERREGRRP              0
LOWERREGROP              0
LOWERREGAPCFLAG          0
Length: 120, dtype: int64