In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('./../data/NSW/nsw_df.parquet')
df.head()

,TOTALDEMAND,FORECASTDEMAND,TEMPERATURE,rrp,daily_avg_actual,daily_avg_forecast,forecast_error,smoothed_forecast_demand,year,quarter,...,day_of_month,hour,is_weekend,part_of_day,season,is_business_day,smoothed_total_demand,smoothed_temperature,minutes_past_midnight,season_name
2010-01-01 00:30:00,7809.31,7680.510417,22.8,21.50,NaN,NaN,NaN,NaN,2010,1,...,1,0,False,Night,1,True,NaN,NaN,30,Summer
2010-01-01 01:00:00,7483.69,7428.971370,22.6,20.98,NaN,NaN,NaN,NaN,2010,1,...,1,1,False,Night,1,True,NaN,NaN,60,Summer
2010-01-01 01:30:00,7117.23,7084.802162,22.5,20.06,NaN,NaN,NaN,NaN,2010,1,...,1,1,False,Night,1,True,NaN,NaN,90,Summer
2010-01-01 02:00:00,6812.03,6751.369600,22.5,17.93,NaN,NaN,NaN,NaN,2010,1,...,1,2,False,Night,1,True,NaN,NaN,120,Summer
2010-01-01 02:30:00,6544.33,6484.270789,22.4,17.43,NaN,NaN,NaN,NaN,2010,1,...,1,2,False,Night,1,True,NaN,NaN,150,Summer

In [3]:
df.columns

Index(['TOTALDEMAND', 'FORECASTDEMAND', 'TEMPERATURE', 'rrp',
       'daily_avg_actual', 'daily_avg_forecast', 'forecast_error',
       'smoothed_forecast_demand', 'year', 'quarter', 'month', 'week_of_year',
       'dow', 'doy', 'day_of_month', 'hour', 'is_weekend', 'part_of_day',
       'season', 'is_business_day', 'smoothed_total_demand',
       'smoothed_temperature', 'minutes_past_midnight', 'season_name'],
      dtype='object')

In [4]:
df.dtypes

TOTALDEMAND                  float64
FORECASTDEMAND               float64
TEMPERATURE                  float64
rrp                          float64
daily_avg_actual             float64
daily_avg_forecast           float64
forecast_error               float64
smoothed_forecast_demand     float64
year                           int32
quarter                        int32
month                          int32
week_of_year                  UInt32
dow                            int32
doy                            int32
day_of_month                   int32
hour                           int32
is_weekend                      bool
part_of_day                 category
season                         int64
is_business_day                 bool
smoothed_total_demand        float64
smoothed_temperature         float64
minutes_past_midnight          int32
season_name                 category
dtype: object