In [1]:
import pandas as pd
import os

In [2]:
data_path = './../data'

# Table of Contents
1. [Victoria Forecast Demand](#1)
2. [SA Forecast Demand](#2)
3. [QLD Forecast Demand](#3)
4. [QLD Temperatures](#4)
5. [SA Temperatures](#5)
6. [Victoria Temperature](#6)
7. [QLD Total Demand](#qld-total-demand)
8. [SA Total Demand](#sa-total-demand)
9. [Victoria Total Demand](#victoria-total-demand)
10. [NSW Forecast Demand](#nsw-forecast-demand)
11. [NSW temperature](#nsw-temperature)
12. [NSW Total Demand](#nsw-total-demand)

<a id="1"></a>
## Victoria Forecast Demand

In [3]:
%%time
vic_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'a', 'forecastdemand_vic.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 2.01 s, sys: 286 ms, total: 2.3 s
Wall time: 2.5 s

In [4]:
%%time
vic_forecast_demand.head()

CPU times: user 137 µs, sys: 0 ns, total: 137 µs
Wall time: 141 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,VIC1,71,4160.74,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,VIC1,72,3999.64,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,VIC1,73,3836.30,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,VIC1,74,3681.87,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,VIC1,75,3457.38,2016-12-30 12:31:25,2017-01-01 02:00:00

In [5]:
%%time
vic_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 0 ns, sys: 3.41 ms, total: 3.41 ms
Wall time: 3.65 ms

In [6]:
%%time
vic_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 72.8 ms, sys: 0 ns, total: 72.8 ms
Wall time: 74.6 ms

count    4.095592e+06
mean     4.862913e+03
std      8.704415e+02
min      2.354240e+03
25%      4.213920e+03
50%      4.749945e+03
75%      5.383632e+03
max      9.738030e+03
Name: FORECASTDEMAND, dtype: float64

In [7]:
%%time
vic_forecast_demand.shape

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 10 µs

(4095592, 6)

In [8]:
%%time
vic_forecast_demand.min()

CPU times: user 134 ms, sys: 0 ns, total: 134 ms
Wall time: 133 ms

PREDISPATCHSEQNO             2016123018
REGIONID                           VIC1
PERIODID                              1
FORECASTDEMAND                  2354.24
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [9]:
%%time
vic_forecast_demand.max()

CPU times: user 132 ms, sys: 0 ns, total: 132 ms
Wall time: 132 ms

PREDISPATCHSEQNO             2021031740
REGIONID                           VIC1
PERIODID                             79
FORECASTDEMAND                  9738.03
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

check for nulls

In [10]:
%%time
vic_forecast_demand.isnull().sum()

CPU times: user 90 ms, sys: 0 ns, total: 90 ms
Wall time: 89.1 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [11]:
%%time
vic_forecast_demand.isna().sum()

CPU times: user 89.6 ms, sys: 0 ns, total: 89.6 ms
Wall time: 88.6 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

number of unique values

In [12]:
vic_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      430091
LASTCHANGED          73836
DATETIME             73833
dtype: int64

check for regular intervals

checking timestamps

visual inspection

check data types & do required conversions

check time stamps

<a id="2"></a>
## SA Forecast Demand

In [13]:
%%time
sa_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'b', 'forecastdemand_sa.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 1.98 s, sys: 223 ms, total: 2.2 s
Wall time: 2.54 s

In [14]:
%%time
sa_forecast_demand.head()

CPU times: user 77 µs, sys: 38 µs, total: 115 µs
Wall time: 104 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,SA1,71,1394.41,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,SA1,72,1285.07,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,SA1,73,1221.70,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,SA1,74,1141.86,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,SA1,75,1087.78,2016-12-30 12:31:25,2017-01-01 02:00:00

In [15]:
%%time
sa_forecast_demand.tail()

CPU times: user 72 µs, sys: 35 µs, total: 107 µs
Wall time: 102 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,SA1,53,1228.07,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,SA1,54,1208.17,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,SA1,55,1199.27,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,SA1,56,1194.31,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,SA1,57,1190.41,2021-03-17 23:31:33,2021-03-19 04:00:00

In [16]:
%%time
sa_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 1.36 ms, sys: 661 µs, total: 2.02 ms
Wall time: 1.91 ms

In [17]:
%%time
sa_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 76.7 ms, sys: 145 µs, total: 76.8 ms
Wall time: 76.3 ms

count    4.095592e+06
mean     1.299720e+03
std      3.293395e+02
min      1.198300e+02
25%      1.103100e+03
50%      1.269130e+03
75%      1.463940e+03
max      3.161750e+03
Name: FORECASTDEMAND, dtype: float64

In [18]:
%%time
sa_forecast_demand.shape

CPU times: user 10 µs, sys: 0 ns, total: 10 µs
Wall time: 11.9 µs

(4095592, 6)

In [19]:
%%time
sa_forecast_demand.min()

CPU times: user 131 ms, sys: 3.4 ms, total: 135 ms
Wall time: 134 ms

PREDISPATCHSEQNO             2016123018
REGIONID                            SA1
PERIODID                              1
FORECASTDEMAND                   119.83
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [20]:
%%time
sa_forecast_demand.max()

CPU times: user 133 ms, sys: 0 ns, total: 133 ms
Wall time: 132 ms

PREDISPATCHSEQNO             2021031740
REGIONID                            SA1
PERIODID                             79
FORECASTDEMAND                  3161.75
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [21]:
%%time
sa_forecast_demand.isnull().sum()

CPU times: user 89.9 ms, sys: 0 ns, total: 89.9 ms
Wall time: 88.9 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [22]:
%%time
sa_forecast_demand.isna().sum()

CPU times: user 89.3 ms, sys: 0 ns, total: 89.3 ms
Wall time: 88.1 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [23]:
%%time
sa_forecast_demand.nunique()

CPU times: user 183 ms, sys: 0 ns, total: 183 ms
Wall time: 182 ms

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      215933
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [24]:
sa_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="3"></a>
## QLD Forecast Demand

In [25]:
qld_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'c', 'forecastdemand_qld.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [26]:
qld_forecast_demand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,QLD1,71,6425.36,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,QLD1,72,6193.34,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,QLD1,73,6016.45,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,QLD1,74,5859.23,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,QLD1,75,5767.15,2016-12-30 12:31:25,2017-01-01 02:00:00

In [27]:
qld_forecast_demand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,QLD1,53,5600.29,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,QLD1,54,5570.50,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,QLD1,55,5549.37,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,QLD1,56,5545.07,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,QLD1,57,5564.29,2021-03-17 23:31:33,2021-03-19 04:00:00

In [28]:
qld_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB

In [29]:
qld_forecast_demand['FORECASTDEMAND'].describe()

count    4.095592e+06
mean     6.217552e+03
std      8.990330e+02
min      3.634990e+03
25%      5.493320e+03
50%      6.105220e+03
75%      6.833010e+03
max      1.004541e+04
Name: FORECASTDEMAND, dtype: float64

In [30]:
qld_forecast_demand.shape

(4095592, 6)

In [31]:
qld_forecast_demand.min()

PREDISPATCHSEQNO             2016123018
REGIONID                           QLD1
PERIODID                              1
FORECASTDEMAND                  3634.99
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [32]:
qld_forecast_demand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           QLD1
PERIODID                             79
FORECASTDEMAND                 10045.41
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [33]:
qld_forecast_demand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [34]:
qld_forecast_demand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [35]:
qld_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      432543
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [36]:
qld_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="4"></a>
## QLD Temperatures

In [37]:
qld_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_qld.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [38]:
qld_temperature.head()

                       LOCATION            DATETIME  TEMPERATURE
0  Brisbane Archerfield Airport 2010-01-01 00:00:00         23.6
1  Brisbane Archerfield Airport 2010-01-01 00:30:00         23.7
2  Brisbane Archerfield Airport 2010-01-01 01:00:00         23.5
3  Brisbane Archerfield Airport 2010-01-01 01:30:00         22.6
4  Brisbane Archerfield Airport 2010-01-01 02:00:00         22.0

In [39]:
qld_temperature.tail()

                            LOCATION            DATETIME  TEMPERATURE
208080  Brisbane Archerfield Airport 2021-03-17 22:00:00         19.6
208081  Brisbane Archerfield Airport 2021-03-17 22:30:00         19.5
208082  Brisbane Archerfield Airport 2021-03-17 23:00:00         19.4
208083  Brisbane Archerfield Airport 2021-03-17 23:30:00         19.6
208084  Brisbane Archerfield Airport 2021-03-18 00:00:00         19.5

In [40]:
qld_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.8+ MB

In [41]:
qld_temperature.describe()

                            DATETIME    TEMPERATURE
count                         208085  208085.000000
mean   2015-08-14 23:20:54.126438912      20.375972
min              2010-01-01 00:00:00       1.300000
25%              2012-10-18 19:30:00      16.600000
50%              2015-08-11 07:30:00      20.900000
75%              2018-06-13 01:00:00      24.300000
max              2021-03-18 00:00:00      42.400000
std                              NaN       5.586945

In [42]:
qld_temperature.shape

(208085, 3)

In [43]:
qld_temperature.min()

LOCATION       Brisbane Archerfield Airport
DATETIME                2010-01-01 00:00:00
TEMPERATURE                             1.3
dtype: object

In [44]:
qld_temperature.max()

LOCATION       Brisbane Archerfield Airport
DATETIME                2021-03-18 00:00:00
TEMPERATURE                            42.4
dtype: object

In [45]:
qld_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [46]:
qld_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [47]:
qld_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [48]:
qld_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="5"></a>
## SA Temperatures

In [49]:
sa_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_sa.csv'), parse_dates=['DATETIME'], index_col=0)

In [50]:
sa_temperature.head()

               LOCATION            DATETIME  TEMPERATURE
0  Adelaide (Kent Town) 2010-01-01 00:00:00         23.6
1  Adelaide (Kent Town) 2010-01-01 00:30:00         23.7
2  Adelaide (Kent Town) 2010-01-01 01:00:00         23.5
3  Adelaide (Kent Town) 2010-01-01 01:30:00         22.6
4  Adelaide (Kent Town) 2010-01-01 02:00:00         22.0

In [51]:
sa_temperature.tail()

                    LOCATION            DATETIME  TEMPERATURE
208080  Adelaide (Kent Town) 2021-03-17 22:00:00         19.6
208081  Adelaide (Kent Town) 2021-03-17 22:30:00         19.5
208082  Adelaide (Kent Town) 2021-03-17 23:00:00         19.4
208083  Adelaide (Kent Town) 2021-03-17 23:30:00         19.6
208084  Adelaide (Kent Town) 2021-03-18 00:00:00         19.5

In [52]:
sa_temperature.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ MB

In [53]:
sa_temperature['TEMPERATURE'].describe()

count    208085.000000
mean         20.375972
std           5.586945
min           1.300000
25%          16.600000
50%          20.900000
75%          24.300000
max          42.400000
Name: TEMPERATURE, dtype: float64

In [54]:
sa_temperature.shape

(208085, 3)

In [55]:
sa_temperature.min()

LOCATION       Adelaide (Kent Town)
DATETIME        2010-01-01 00:00:00
TEMPERATURE                     1.3
dtype: object

In [56]:
sa_temperature.max()

LOCATION       Adelaide (Kent Town)
DATETIME        2021-03-18 00:00:00
TEMPERATURE                    42.4
dtype: object

In [57]:
sa_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [58]:
sa_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [59]:
sa_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [60]:
sa_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="6"></a>
## Victoria Temperature

In [61]:
vic_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_vic.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [62]:
vic_temperature.head()

                   LOCATION            DATETIME  TEMPERATURE
0  Melbourne (Olympic Park) 2013-05-31 15:00:00         18.2
1  Melbourne (Olympic Park) 2013-05-31 15:30:00         18.3
2  Melbourne (Olympic Park) 2013-05-31 16:00:00         18.3
3  Melbourne (Olympic Park) 2013-05-31 16:30:00         18.3
4  Melbourne (Olympic Park) 2013-05-31 17:00:00         18.2

In [63]:
vic_temperature.tail()

                        LOCATION            DATETIME  TEMPERATURE
141676  Melbourne (Olympic Park) 2021-03-17 22:00:00         18.9
141677  Melbourne (Olympic Park) 2021-03-17 22:30:00         17.9
141678  Melbourne (Olympic Park) 2021-03-17 23:00:00         17.3
141679  Melbourne (Olympic Park) 2021-03-17 23:30:00         16.6
141680  Melbourne (Olympic Park) 2021-03-18 00:00:00         15.8

In [64]:
vic_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141681 entries, 0 to 141680
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     141681 non-null  object
 1   DATETIME     141681 non-null  datetime64[ns]
 2   TEMPERATURE  141681 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.2+ MB

In [65]:
vic_temperature['TEMPERATURE'].describe()

count    141681.000000
mean         15.711337
std           5.637641
min           0.800000
25%          11.800000
50%          14.900000
75%          18.700000
max          43.300000
Name: TEMPERATURE, dtype: float64

In [66]:
vic_temperature.shape

(141681, 3)

In [67]:
vic_temperature.min()

LOCATION       Melbourne (Olympic Park)
DATETIME            2013-05-31 15:00:00
TEMPERATURE                         0.8
dtype: object

In [68]:
vic_temperature.max()

LOCATION       Melbourne (Olympic Park)
DATETIME            2021-03-18 00:00:00
TEMPERATURE                        43.3
dtype: object

In [69]:
vic_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [70]:
vic_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [71]:
vic_temperature.nunique()

LOCATION            1
DATETIME       141681
TEMPERATURE       424
dtype: int64

In [72]:
vic_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## QLD Total Demand

In [73]:
qld_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_qld.csv'), parse_dates=['DATETIME'])

In [74]:
qld_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5561.21     QLD1
1 2010-01-01 00:30:00      5422.25     QLD1
2 2010-01-01 01:00:00      5315.98     QLD1
3 2010-01-01 01:30:00      5186.70     QLD1
4 2010-01-01 02:00:00      5050.83     QLD1

In [75]:
qld_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      6443.62     QLD1
196509 2021-03-17 22:30:00      6264.63     QLD1
196510 2021-03-17 23:00:00      6144.16     QLD1
196511 2021-03-17 23:30:00      5897.64     QLD1
196512 2021-03-18 00:00:00      5737.03     QLD1

In [76]:
qld_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [77]:
qld_totaldemand['TOTALDEMAND'].describe()

count    196513.000000
mean       6026.545773
std         868.481406
min        3748.240000
25%        5368.770000
50%        5993.590000
75%        6601.290000
max        9988.090000
Name: TOTALDEMAND, dtype: float64

In [78]:
qld_totaldemand.shape

(196513, 3)

In [79]:
qld_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                3748.24
REGIONID                      QLD1
dtype: object

In [80]:
qld_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                9988.09
REGIONID                      QLD1
dtype: object

In [81]:
qld_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [82]:
qld_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [83]:
qld_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    146678
REGIONID            1
dtype: int64

In [84]:
qld_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## SA Total Demand

In [85]:
sa_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_sa.csv'), parse_dates=['DATETIME'])

In [86]:
sa_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:30:00      1385.23      SA1
1 2010-01-01 01:00:00      1338.53      SA1
2 2010-01-01 01:30:00      1260.39      SA1
3 2010-01-01 02:00:00      1189.31      SA1
4 2010-01-01 02:30:00      1141.12      SA1

In [87]:
sa_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196507 2021-03-17 22:00:00      1277.91      SA1
196508 2021-03-17 22:30:00      1226.81      SA1
196509 2021-03-17 23:00:00      1202.62      SA1
196510 2021-03-17 23:30:00      1194.34      SA1
196511 2021-03-18 00:00:00      1340.58      SA1

In [88]:
sa_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196512 entries, 0 to 196511
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196512 non-null  datetime64[ns]
 1   TOTALDEMAND  196512 non-null  float64
 2   REGIONID     196512 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [89]:
sa_totaldemand['TOTALDEMAND'].describe()

count    196512.000000
mean       1383.901566
std         326.494153
min          21.890000
25%        1164.480000
50%        1346.140000
75%        1567.342500
max        3385.420000
Name: TOTALDEMAND, dtype: float64

In [90]:
sa_totaldemand.shape

(196512, 3)

In [91]:
sa_totaldemand.min()

DATETIME       2010-01-01 00:30:00
TOTALDEMAND                  21.89
REGIONID                       SA1
dtype: object

In [92]:
sa_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                3385.42
REGIONID                       SA1
dtype: object

In [93]:
sa_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [94]:
sa_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [95]:
sa_totaldemand.nunique()

DATETIME       196512
TOTALDEMAND     95534
REGIONID            1
dtype: int64

In [96]:
sa_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## Victoria Total Demand

In [97]:
vic_total_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_vic.csv'), parse_dates=['DATETIME'])

In [98]:
vic_total_demand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5426.12     VIC1
1 2010-01-01 00:30:00      5111.02     VIC1
2 2010-01-01 01:00:00      4960.03     VIC1
3 2010-01-01 01:30:00      5283.40     VIC1
4 2010-01-01 02:00:00      5046.15     VIC1

In [99]:
vic_total_demand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      4557.56     VIC1
196509 2021-03-17 22:30:00      4485.95     VIC1
196510 2021-03-17 23:00:00      4434.62     VIC1
196511 2021-03-17 23:30:00      4660.85     VIC1
196512 2021-03-18 00:00:00      4608.85     VIC1

In [100]:
vic_total_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [101]:
vic_total_demand['TOTALDEMAND'].describe()

count    196513.000000
mean       5252.950834
std         946.281304
min        2307.070000
25%        4535.420000
50%        5157.760000
75%        5909.540000
max       10240.220000
Name: TOTALDEMAND, dtype: float64

In [102]:
vic_total_demand.shape

(196513, 3)

In [103]:
vic_total_demand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                2307.07
REGIONID                      VIC1
dtype: object

In [104]:
vic_total_demand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               10240.22
REGIONID                      VIC1
dtype: object

In [105]:
vic_total_demand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [106]:
vic_total_demand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [107]:
vic_total_demand.nunique()

DATETIME       196513
TOTALDEMAND    149442
REGIONID            1
dtype: int64

In [108]:
vic_total_demand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

# 1: operational demand actual, half-hourly, consolidated

In [145]:
df1 = pd.read_csv(os.path.join(data_path, 'operational_demand_actual_hh_consolidated.csv'), parse_dates=['INTERVAL_DATETIME', 'LASTCHANGED'], )
df1.head()

,I,OPERATIONAL_DEMAND,ACTUAL,3,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
0,D,OPERATIONAL_DEMAND,ACTUAL,3,NSW1,2023-09-19 08:00:00,6860,0,0,2023-09-19 08:00:01
1,D,OPERATIONAL_DEMAND,ACTUAL,3,QLD1,2023-09-19 08:00:00,5745,0,0,2023-09-19 08:00:01
2,D,OPERATIONAL_DEMAND,ACTUAL,3,SA1,2023-09-19 08:00:00,1290,0,0,2023-09-19 08:00:01
3,D,OPERATIONAL_DEMAND,ACTUAL,3,TAS1,2023-09-19 08:00:00,1253,0,0,2023-09-19 08:00:01
4,D,OPERATIONAL_DEMAND,ACTUAL,3,VIC1,2023-09-19 08:00:00,4896,0,0,2023-09-19 08:00:01

In [146]:
df1.tail()

,I,OPERATIONAL_DEMAND,ACTUAL,3,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
96900,D,OPERATIONAL_DEMAND,ACTUAL,3,NSW1,2023-03-04 03:00:00,6392,0,0,2023-03-04 03:00:01
96901,D,OPERATIONAL_DEMAND,ACTUAL,3,QLD1,2023-03-04 03:00:00,5680,0,0,2023-03-04 03:00:01
96902,D,OPERATIONAL_DEMAND,ACTUAL,3,SA1,2023-03-04 03:00:00,1197,0,0,2023-03-04 03:00:01
96903,D,OPERATIONAL_DEMAND,ACTUAL,3,TAS1,2023-03-04 03:00:00,999,0,0,2023-03-04 03:00:01
96904,D,OPERATIONAL_DEMAND,ACTUAL,3,VIC1,2023-03-04 03:00:00,3981,0,0,2023-03-04 03:00:01

In [147]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96905 entries, 0 to 96904
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   I                              96905 non-null  object
 1   OPERATIONAL_DEMAND             96905 non-null  object
 2   ACTUAL                         96905 non-null  object
 3   3                              96905 non-null  int64
 4   REGIONID                       96905 non-null  object
 5   INTERVAL_DATETIME              96905 non-null  datetime64[ns]
 6   OPERATIONAL_DEMAND.1           96905 non-null  int64
 7   OPERATIONAL_DEMAND_ADJUSTMENT  96905 non-null  int64
 8   WDR_ESTIMATE                   96905 non-null  int64
 9   LASTCHANGED                    96905 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 7.4+ MB

In [148]:
df1.describe()

,3,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
count,96905.0,96905,96905.000000,96905.0,96905.000000,96905
mean,3.0,2023-08-28 17:02:50.889015040,4229.114256,0.0,0.005913,2023-08-28 17:02:52.190919424
min,3.0,2023-02-05 00:00:00,-26.000000,0.0,0.000000,2023-02-05 00:00:02
25%,3.0,2023-05-20 00:30:00,1287.000000,0.0,0.000000,2023-05-20 00:30:01
50%,3.0,2023-08-28 23:00:00,4591.000000,0.0,0.000000,2023-08-28 23:00:01
75%,3.0,2023-12-07 21:30:00,6472.000000,0.0,0.000000,2023-12-07 21:30:01
max,3.0,2024-03-17 20:00:00,13643.000000,0.0,21.000000,2024-03-17 20:00:01
std,0.0,NaN,2763.717754,0.0,0.242607,NaN

In [149]:
df1.shape

(96905, 10)

In [150]:
df1.isnull().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL                           0
3                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

In [151]:
df1.isna().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL                           0
3                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

# 2: operational demand forecast, half-hourly, consolidated

In [152]:
df2 = pd.read_csv(
    os.path.join(data_path, 'operational_demand_forecast_hh_consolidated.csv'), 
    parse_dates=['INTERVAL_DATETIME', 'LOAD_DATE', 'LASTCHANGED'],
)
df2.head()

,I,OPERATIONAL_DEMAND,FORECAST,1,REGIONID,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
0,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-10 23:00:00,2023-07-10 22:27:39,9090.0,8950,8810.0,2023-07-10 22:27:39
1,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-10 23:30:00,2023-07-10 22:27:39,8912.0,8753,8593.0,2023-07-10 22:27:39
2,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 00:00:00,2023-07-10 22:27:39,8788.0,8608,8429.0,2023-07-10 22:27:39
3,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 00:30:00,2023-07-10 22:27:39,8642.0,8444,8246.0,2023-07-10 22:27:39
4,D,OPERATIONAL_DEMAND,FORECAST,1,NSW1,2023-07-11 01:00:00,2023-07-10 22:27:39,8486.0,8270,8055.0,2023-07-10 22:27:39

In [153]:
df2.tail()

,I,OPERATIONAL_DEMAND,FORECAST,1,REGIONID,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
39982240,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 22:00:00,2023-12-21 06:57:31,4707.0,4376,4044.0,2023-12-21 06:57:31
39982241,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 22:30:00,2023-12-21 06:57:31,4641.0,4314,3987.0,2023-12-21 06:57:31
39982242,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 23:00:00,2023-12-21 06:57:31,4604.0,4280,3956.0,2023-12-21 06:57:31
39982243,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-29 23:30:00,2023-12-21 06:57:31,4705.0,4374,4043.0,2023-12-21 06:57:31
39982244,D,OPERATIONAL_DEMAND,FORECAST,1,VIC1,2023-12-30 00:00:00,2023-12-21 06:57:31,4677.0,4348,4018.0,2023-12-21 06:57:31

In [154]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39982245 entries, 0 to 39982244
Data columns (total 11 columns):
 #   Column                    Dtype
---  ------                    -----
 0   I                         object
 1   OPERATIONAL_DEMAND        object
 2   FORECAST                  object
 3   1                         int64
 4   REGIONID                  object
 5   INTERVAL_DATETIME         datetime64[ns]
 6   LOAD_DATE                 datetime64[ns]
 7   OPERATIONAL_DEMAND_POE10  float64
 8   OPERATIONAL_DEMAND_POE50  int64
 9   OPERATIONAL_DEMAND_POE90  float64
 10  LASTCHANGED               datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 3.3+ GB

In [155]:
df2.describe()

,1,INTERVAL_DATETIME,LOAD_DATE,OPERATIONAL_DEMAND_POE10,OPERATIONAL_DEMAND_POE50,OPERATIONAL_DEMAND_POE90,LASTCHANGED
count,39982245.0,39982245,39982245,3.998224e+07,3.998224e+07,3.998224e+07,39982245
mean,1.0,2023-08-31 16:04:20.799421440,2023-08-27 09:16:58.416956416,4.457400e+03,4.229406e+03,4.001412e+03,2023-08-27 09:16:58.416956416
min,1.0,2023-02-05 00:30:00,2023-02-04 23:27:41,-3.150000e+02,-3.020000e+02,-2.890000e+02,2023-02-04 23:27:41
25%,1.0,2023-05-21 22:30:00,2023-05-17 15:57:58,1.383000e+03,1.291000e+03,1.202000e+03,2023-05-17 15:57:58
50%,1.0,2023-08-31 16:00:00,2023-08-27 08:57:32,4.867000e+03,4.600000e+03,4.326000e+03,2023-08-27 08:57:32
75%,1.0,2023-12-11 09:30:00,2023-12-07 02:27:32,6.755000e+03,6.444000e+03,6.136000e+03,2023-12-07 02:27:32
max,1.0,2024-03-26 00:00:00,2024-03-17 19:57:42,1.472900e+04,1.393900e+04,1.340800e+04,2024-03-17 19:57:42
std,0.0,NaN,NaN,2.884793e+03,2.757393e+03,2.633886e+03,NaN

In [156]:
df2.shape

(39982245, 11)

In [157]:
df2.isnull().sum()

I                           0
OPERATIONAL_DEMAND          0
FORECAST                    0
1                           0
REGIONID                    0
INTERVAL_DATETIME           0
LOAD_DATE                   0
OPERATIONAL_DEMAND_POE10    0
OPERATIONAL_DEMAND_POE50    0
OPERATIONAL_DEMAND_POE90    0
LASTCHANGED                 0
dtype: int64

In [158]:
df2.isna().sum()

I                           0
OPERATIONAL_DEMAND          0
FORECAST                    0
1                           0
REGIONID                    0
INTERVAL_DATETIME           0
LOAD_DATE                   0
OPERATIONAL_DEMAND_POE10    0
OPERATIONAL_DEMAND_POE50    0
OPERATIONAL_DEMAND_POE90    0
LASTCHANGED                 0
dtype: int64

# 3

In [159]:
df3 = pd.read_csv(
    os.path.join(data_path, 'public_actual_operational_demand_five_min_consolidated.csv'), 
    parse_dates=['INTERVAL_DATETIME', 'LASTCHANGED']
)

In [160]:
df3.head()

,I,OPERATIONAL_DEMAND,ACTUAL5M,1,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
0,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:05:00,7886,0,0,2023-03-17 00:30:01
1,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:10:00,7836,0,0,2023-03-17 00:30:01
2,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:15:00,7786,0,0,2023-03-17 00:30:01
3,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:20:00,7735,0,0,2023-03-17 00:30:01
4,D,OPERATIONAL_DEMAND,ACTUAL5M,1,NSW1,2023-03-17 00:25:00,7685,0,0,2023-03-17 00:30:01

In [161]:
df3.tail()

,I,OPERATIONAL_DEMAND,ACTUAL5M,1,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
25331755,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:10:00,5375,0,0,2024-03-16 20:30:02
25331756,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:15:00,5343,0,0,2024-03-16 20:30:02
25331757,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:20:00,5311,0,0,2024-03-16 20:30:02
25331758,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:25:00,5279,0,0,2024-03-16 20:30:02
25331759,D,OPERATIONAL_DEMAND,ACTUAL5M,1,VIC1,2024-03-16 20:30:00,5247,0,0,2024-03-16 20:30:02

In [162]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25331760 entries, 0 to 25331759
Data columns (total 10 columns):
 #   Column                         Dtype
---  ------                         -----
 0   I                              object
 1   OPERATIONAL_DEMAND             object
 2   ACTUAL5M                       object
 3   1                              int64
 4   REGIONID                       object
 5   INTERVAL_DATETIME              datetime64[ns]
 6   OPERATIONAL_DEMAND.1           int64
 7   OPERATIONAL_DEMAND_ADJUSTMENT  int64
 8   WDR_ESTIMATE                   int64
 9   LASTCHANGED                    datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 1.9+ GB

In [163]:
df3.describe()

,1,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
count,25331760.0,25331760,2.533176e+07,25331760.0,2.533176e+07,25331760
mean,1.0,2023-09-16 02:24:55.135422720,4.222741e+03,0.0,5.305277e-03,2023-09-16 02:37:26.451251456
min,1.0,2023-03-16 00:05:00,-2.600000e+01,0.0,0.000000e+00,2023-03-16 00:30:01
25%,1.0,2023-06-16 11:30:00,1.294000e+03,0.0,0.000000e+00,2023-06-16 11:30:03
50%,1.0,2023-09-16 02:25:00,4.588000e+03,0.0,0.000000e+00,2023-09-16 02:30:01
75%,1.0,2023-12-16 17:20:00,6.458000e+03,0.0,0.000000e+00,2023-12-16 17:30:01
max,1.0,2024-03-17 20:00:00,1.364300e+04,0.0,2.100000e+01,2024-03-17 20:00:01
std,0.0,NaN,2.756310e+03,0.0,2.150852e-01,NaN

In [164]:
df3.shape

(25331760, 10)

In [165]:
df3.isnull().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL5M                         0
1                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

In [166]:
df3.isna().sum()

I                                0
OPERATIONAL_DEMAND               0
ACTUAL5M                         0
1                                0
REGIONID                         0
INTERVAL_DATETIME                0
OPERATIONAL_DEMAND.1             0
OPERATIONAL_DEMAND_ADJUSTMENT    0
WDR_ESTIMATE                     0
LASTCHANGED                      0
dtype: int64

# 4

In [167]:
df4 = pd.read_csv(
    os.path.join(data_path, 'public_prices_consolidated.csv'), 
    parse_dates=['SETTLEMENTDATE']
)

In [168]:
df4.head()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
0,D,DREGION,NaN,2,2024-01-23 04:05:00,1,NSW1,0,41.81844,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
1,D,DREGION,NaN,2,2024-01-23 04:05:00,1,QLD1,0,62.73000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
2,D,DREGION,NaN,2,2024-01-23 04:05:00,1,SA1,0,34.16184,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
3,D,DREGION,NaN,2,2024-01-23 04:05:00,1,TAS1,0,53.71593,0,...,0,0.45,0.45,0,0.0,0.0,0,2.65,2.65,0
4,D,DREGION,NaN,2,2024-01-23 04:05:00,1,VIC1,0,34.94000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0

In [169]:
df4.tail()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
633745,D,DREGION,NaN,2,2024-02-26 04:00:00,1,NSW1,0,68.00000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633746,D,DREGION,NaN,2,2024-02-26 04:00:00,1,QLD1,0,70.92975,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633747,D,DREGION,NaN,2,2024-02-26 04:00:00,1,SA1,0,50.43366,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
633748,D,DREGION,NaN,2,2024-02-26 04:00:00,1,TAS1,0,68.21000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.70,3.70,0
633749,D,DREGION,NaN,2,2024-02-26 04:00:00,1,VIC1,0,35.95003,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0

In [170]:
df4.dtypes

I                           object
DREGION                     object
Unnamed: 2                 float64
2                            int64
SETTLEMENTDATE      datetime64[ns]
                         ...
LOWER5MINROP               float64
LOWER5MINAPCFLAG             int64
LOWERREGRRP                float64
LOWERREGROP                float64
LOWERREGAPCFLAG              int64
Length: 120, dtype: object

In [171]:
df4.shape

(633750, 120)

In [172]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633750 entries, 0 to 633749
Columns: 120 entries, I to LOWERREGAPCFLAG
dtypes: datetime64[ns](1), float64(101), int64(15), object(3)
memory usage: 580.2+ MB

In [173]:
df4.describe()

,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,INTERVENTION,RRP,EEP,ROP,APCFLAG,MARKETSUSPENDEDFLAG,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
count,0.0,633750.0,633750,633750.0,633750.000000,633750.000000,633750.0,6.337500e+05,633750.000000,633750.000000,...,633750.000000,633750.000000,633750.000000,633750.0,633750.000000,633750.000000,633750.0,633750.000000,633750.000000,633750.000000
mean,NaN,2.0,2023-08-09 23:19:24.347929344,1.0,0.000237,76.137472,0.0,9.643399e+01,0.005901,0.000732,...,0.000013,3.615498,3.615225,0.0,1.655954,1.655891,0.0,8.262021,8.497738,0.000006
min,NaN,2.0,2023-01-01 04:05:00,1.0,0.000000,-999.999470,0.0,-9.999995e+02,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,NaN,2.0,2023-04-22 02:10:00,1.0,0.000000,19.120000,0.0,1.912000e+01,0.000000,0.000000,...,0.000000,0.380000,0.380000,0.0,0.150000,0.150000,0.0,3.610000,3.610000,0.000000
50%,NaN,2.0,2023-08-10 02:47:30,1.0,0.000000,62.611005,0.0,6.261016e+01,0.000000,0.000000,...,0.000000,0.390000,0.390000,0.0,0.390000,0.390000,0.0,3.990000,3.990000,0.000000
75%,NaN,2.0,2023-11-28 03:25:00,1.0,0.000000,100.020000,0.0,1.000200e+02,0.000000,0.000000,...,0.000000,1.400000,1.400000,0.0,0.410000,0.410000,0.0,7.120000,7.120000,0.000000
max,NaN,2.0,2024-03-17 04:00:00,1.0,1.000000,16600.000000,0.0,2.325000e+06,20.000000,2.000000,...,4.000000,16600.000000,16600.000000,0.0,999.000000,999.000000,0.0,16600.000000,166009.880000,4.000000
std,NaN,0.0,NaN,0.0,0.015383,330.481367,0.0,4.183949e+03,0.297604,0.035030,...,0.007106,59.854095,59.854106,0.0,5.647249,5.647262,0.0,27.012011,209.229543,0.005025

In [174]:
df4.isnull().sum()

I                        0
DREGION                  0
Unnamed: 2          633750
2                        0
SETTLEMENTDATE           0
                     ...
LOWER5MINROP             0
LOWER5MINAPCFLAG         0
LOWERREGRRP              0
LOWERREGROP              0
LOWERREGAPCFLAG          0
Length: 120, dtype: int64

In [175]:
df4.isna().sum()

I                        0
DREGION                  0
Unnamed: 2          633750
2                        0
SETTLEMENTDATE           0
                     ...
LOWER5MINROP             0
LOWER5MINAPCFLAG         0
LOWERREGRRP              0
LOWERREGROP              0
LOWERREGAPCFLAG          0
Length: 120, dtype: int64