In [1020]:
import pandas as pd
import os

In [1021]:
data_path = './../data'

# Table of Contents
1. [Victoria Forecast Demand](#1)
2. [SA Forecast Demand](#2)
3. [QLD Forecast Demand](#3)
4. [QLD Temperatures](#4)
5. [SA Temperatures](#5)
6. [Victoria Temperature](#6)
7. [QLD Total Demand](#qld-total-demand)
8. [SA Total Demand](#sa-total-demand)
9. [Victoria Total Demand](#victoria-total-demand)
10. [NSW Forecast Demand](#nsw-forecast-demand)
11. [NSW temperature](#nsw-temperature)
12. [NSW Total Demand](#nsw-total-demand)

<a id="1"></a>
## Victoria Forecast Demand

In [1022]:
%%time
vic_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'a', 'forecastdemand_vic.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 1.99 s, sys: 84.6 ms, total: 2.08 s
Wall time: 2.07 s

In [1023]:
%%time
vic_forecast_demand.head()

CPU times: user 115 µs, sys: 0 ns, total: 115 µs
Wall time: 118 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,VIC1,71,4160.74,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,VIC1,72,3999.64,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,VIC1,73,3836.30,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,VIC1,74,3681.87,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,VIC1,75,3457.38,2016-12-30 12:31:25,2017-01-01 02:00:00

In [1024]:
%%time
vic_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 2.25 ms, sys: 0 ns, total: 2.25 ms
Wall time: 2.06 ms

In [1025]:
%%time
vic_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 75.7 ms, sys: 0 ns, total: 75.7 ms
Wall time: 75.3 ms

count    4.095592e+06
mean     4.862913e+03
std      8.704415e+02
min      2.354240e+03
25%      4.213920e+03
50%      4.749945e+03
75%      5.383632e+03
max      9.738030e+03
Name: FORECASTDEMAND, dtype: float64

In [1026]:
%%time
vic_forecast_demand.shape

CPU times: user 8 µs, sys: 0 ns, total: 8 µs
Wall time: 9.78 µs

(4095592, 6)

In [1027]:
%%time
vic_forecast_demand.min()

CPU times: user 138 ms, sys: 118 µs, total: 138 ms
Wall time: 137 ms

PREDISPATCHSEQNO             2016123018
REGIONID                           VIC1
PERIODID                              1
FORECASTDEMAND                  2354.24
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [1028]:
%%time
vic_forecast_demand.max()

CPU times: user 136 ms, sys: 0 ns, total: 136 ms
Wall time: 135 ms

PREDISPATCHSEQNO             2021031740
REGIONID                           VIC1
PERIODID                             79
FORECASTDEMAND                  9738.03
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

check for nulls

In [1029]:
%%time
vic_forecast_demand.isnull().sum()

CPU times: user 92.2 ms, sys: 0 ns, total: 92.2 ms
Wall time: 91.4 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1030]:
%%time
vic_forecast_demand.isna().sum()

CPU times: user 87.9 ms, sys: 3.82 ms, total: 91.7 ms
Wall time: 90.8 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

number of unique values

In [1031]:
vic_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      430091
LASTCHANGED          73836
DATETIME             73833
dtype: int64

check for regular intervals

checking timestamps

visual inspection

check data types & do required conversions

check time stamps

<a id="2"></a>
## SA Forecast Demand

In [1032]:
%%time
sa_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'b', 'forecastdemand_sa.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 2 s, sys: 119 ms, total: 2.12 s
Wall time: 2.12 s

In [1033]:
%%time
sa_forecast_demand.head()

CPU times: user 111 µs, sys: 0 ns, total: 111 µs
Wall time: 98.5 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,SA1,71,1394.41,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,SA1,72,1285.07,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,SA1,73,1221.70,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,SA1,74,1141.86,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,SA1,75,1087.78,2016-12-30 12:31:25,2017-01-01 02:00:00

In [1034]:
%%time
sa_forecast_demand.tail()

CPU times: user 62 µs, sys: 4 µs, total: 66 µs
Wall time: 65.1 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,SA1,53,1228.07,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,SA1,54,1208.17,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,SA1,55,1199.27,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,SA1,56,1194.31,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,SA1,57,1190.41,2021-03-17 23:31:33,2021-03-19 04:00:00

In [1035]:
%%time
sa_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 1.77 ms, sys: 21 µs, total: 1.79 ms
Wall time: 1.71 ms

In [1036]:
%%time
sa_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 78 ms, sys: 0 ns, total: 78 ms
Wall time: 77.7 ms

count    4.095592e+06
mean     1.299720e+03
std      3.293395e+02
min      1.198300e+02
25%      1.103100e+03
50%      1.269130e+03
75%      1.463940e+03
max      3.161750e+03
Name: FORECASTDEMAND, dtype: float64

In [1037]:
%%time
sa_forecast_demand.shape

CPU times: user 8 µs, sys: 1 µs, total: 9 µs
Wall time: 10.3 µs

(4095592, 6)

In [1038]:
%%time
sa_forecast_demand.min()

CPU times: user 136 ms, sys: 349 µs, total: 137 ms
Wall time: 136 ms

PREDISPATCHSEQNO             2016123018
REGIONID                            SA1
PERIODID                              1
FORECASTDEMAND                   119.83
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [1039]:
%%time
sa_forecast_demand.max()

CPU times: user 136 ms, sys: 0 ns, total: 136 ms
Wall time: 135 ms

PREDISPATCHSEQNO             2021031740
REGIONID                            SA1
PERIODID                             79
FORECASTDEMAND                  3161.75
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [1040]:
%%time
sa_forecast_demand.isnull().sum()

CPU times: user 90.7 ms, sys: 188 µs, total: 90.9 ms
Wall time: 89.2 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1041]:
%%time
sa_forecast_demand.isna().sum()

CPU times: user 90.2 ms, sys: 152 µs, total: 90.4 ms
Wall time: 89.3 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1042]:
%%time
sa_forecast_demand.nunique()

CPU times: user 195 ms, sys: 0 ns, total: 195 ms
Wall time: 194 ms

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      215933
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [1043]:
sa_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="3"></a>
## QLD Forecast Demand

In [1044]:
qld_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'c', 'forecastdemand_qld.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [1045]:
qld_forecast_demand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,QLD1,71,6425.36,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,QLD1,72,6193.34,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,QLD1,73,6016.45,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,QLD1,74,5859.23,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,QLD1,75,5767.15,2016-12-30 12:31:25,2017-01-01 02:00:00

In [1046]:
qld_forecast_demand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,QLD1,53,5600.29,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,QLD1,54,5570.50,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,QLD1,55,5549.37,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,QLD1,56,5545.07,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,QLD1,57,5564.29,2021-03-17 23:31:33,2021-03-19 04:00:00

In [1047]:
qld_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB

In [1048]:
qld_forecast_demand['FORECASTDEMAND'].describe()

count    4.095592e+06
mean     6.217552e+03
std      8.990330e+02
min      3.634990e+03
25%      5.493320e+03
50%      6.105220e+03
75%      6.833010e+03
max      1.004541e+04
Name: FORECASTDEMAND, dtype: float64

In [1049]:
qld_forecast_demand.shape

(4095592, 6)

In [1050]:
qld_forecast_demand.min()

PREDISPATCHSEQNO             2016123018
REGIONID                           QLD1
PERIODID                              1
FORECASTDEMAND                  3634.99
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [1051]:
qld_forecast_demand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           QLD1
PERIODID                             79
FORECASTDEMAND                 10045.41
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [1052]:
qld_forecast_demand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1053]:
qld_forecast_demand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1054]:
qld_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      432543
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [1055]:
qld_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="4"></a>
## QLD Temperatures

In [1056]:
qld_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_qld.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [1057]:
qld_temperature.head()

                       LOCATION            DATETIME  TEMPERATURE
0  Brisbane Archerfield Airport 2010-01-01 00:00:00         23.6
1  Brisbane Archerfield Airport 2010-01-01 00:30:00         23.7
2  Brisbane Archerfield Airport 2010-01-01 01:00:00         23.5
3  Brisbane Archerfield Airport 2010-01-01 01:30:00         22.6
4  Brisbane Archerfield Airport 2010-01-01 02:00:00         22.0

In [1058]:
qld_temperature.tail()

                            LOCATION            DATETIME  TEMPERATURE
208080  Brisbane Archerfield Airport 2021-03-17 22:00:00         19.6
208081  Brisbane Archerfield Airport 2021-03-17 22:30:00         19.5
208082  Brisbane Archerfield Airport 2021-03-17 23:00:00         19.4
208083  Brisbane Archerfield Airport 2021-03-17 23:30:00         19.6
208084  Brisbane Archerfield Airport 2021-03-18 00:00:00         19.5

In [1059]:
qld_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.8+ MB

In [1060]:
qld_temperature.describe()

                            DATETIME    TEMPERATURE
count                         208085  208085.000000
mean   2015-08-14 23:20:54.126438912      20.375972
min              2010-01-01 00:00:00       1.300000
25%              2012-10-18 19:30:00      16.600000
50%              2015-08-11 07:30:00      20.900000
75%              2018-06-13 01:00:00      24.300000
max              2021-03-18 00:00:00      42.400000
std                              NaN       5.586945

In [1061]:
qld_temperature.shape

(208085, 3)

In [1062]:
qld_temperature.min()

LOCATION       Brisbane Archerfield Airport
DATETIME                2010-01-01 00:00:00
TEMPERATURE                             1.3
dtype: object

In [1063]:
qld_temperature.max()

LOCATION       Brisbane Archerfield Airport
DATETIME                2021-03-18 00:00:00
TEMPERATURE                            42.4
dtype: object

In [1064]:
qld_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1065]:
qld_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1066]:
qld_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [1067]:
qld_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="5"></a>
## SA Temperatures

In [1068]:
sa_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_sa.csv'), parse_dates=['DATETIME'], index_col=0)

In [1069]:
sa_temperature.head()

               LOCATION            DATETIME  TEMPERATURE
0  Adelaide (Kent Town) 2010-01-01 00:00:00         23.6
1  Adelaide (Kent Town) 2010-01-01 00:30:00         23.7
2  Adelaide (Kent Town) 2010-01-01 01:00:00         23.5
3  Adelaide (Kent Town) 2010-01-01 01:30:00         22.6
4  Adelaide (Kent Town) 2010-01-01 02:00:00         22.0

In [1070]:
sa_temperature.tail()

                    LOCATION            DATETIME  TEMPERATURE
208080  Adelaide (Kent Town) 2021-03-17 22:00:00         19.6
208081  Adelaide (Kent Town) 2021-03-17 22:30:00         19.5
208082  Adelaide (Kent Town) 2021-03-17 23:00:00         19.4
208083  Adelaide (Kent Town) 2021-03-17 23:30:00         19.6
208084  Adelaide (Kent Town) 2021-03-18 00:00:00         19.5

In [1071]:
sa_temperature.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ MB

In [1072]:
sa_temperature['TEMPERATURE'].describe()

count    208085.000000
mean         20.375972
std           5.586945
min           1.300000
25%          16.600000
50%          20.900000
75%          24.300000
max          42.400000
Name: TEMPERATURE, dtype: float64

In [1073]:
sa_temperature.shape

(208085, 3)

In [1074]:
sa_temperature.min()

LOCATION       Adelaide (Kent Town)
DATETIME        2010-01-01 00:00:00
TEMPERATURE                     1.3
dtype: object

In [1075]:
sa_temperature.max()

LOCATION       Adelaide (Kent Town)
DATETIME        2021-03-18 00:00:00
TEMPERATURE                    42.4
dtype: object

In [1076]:
sa_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1077]:
sa_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1078]:
sa_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [1079]:
sa_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="6"></a>
## Victoria Temperature

In [1080]:
vic_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_vic.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [1081]:
vic_temperature.head()

                   LOCATION            DATETIME  TEMPERATURE
0  Melbourne (Olympic Park) 2013-05-31 15:00:00         18.2
1  Melbourne (Olympic Park) 2013-05-31 15:30:00         18.3
2  Melbourne (Olympic Park) 2013-05-31 16:00:00         18.3
3  Melbourne (Olympic Park) 2013-05-31 16:30:00         18.3
4  Melbourne (Olympic Park) 2013-05-31 17:00:00         18.2

In [1082]:
vic_temperature.tail()

                        LOCATION            DATETIME  TEMPERATURE
141676  Melbourne (Olympic Park) 2021-03-17 22:00:00         18.9
141677  Melbourne (Olympic Park) 2021-03-17 22:30:00         17.9
141678  Melbourne (Olympic Park) 2021-03-17 23:00:00         17.3
141679  Melbourne (Olympic Park) 2021-03-17 23:30:00         16.6
141680  Melbourne (Olympic Park) 2021-03-18 00:00:00         15.8

In [1083]:
vic_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141681 entries, 0 to 141680
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     141681 non-null  object
 1   DATETIME     141681 non-null  datetime64[ns]
 2   TEMPERATURE  141681 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.2+ MB

In [1084]:
vic_temperature['TEMPERATURE'].describe()

count    141681.000000
mean         15.711337
std           5.637641
min           0.800000
25%          11.800000
50%          14.900000
75%          18.700000
max          43.300000
Name: TEMPERATURE, dtype: float64

In [1085]:
vic_temperature.shape

(141681, 3)

In [1086]:
vic_temperature.min()

LOCATION       Melbourne (Olympic Park)
DATETIME            2013-05-31 15:00:00
TEMPERATURE                         0.8
dtype: object

In [1087]:
vic_temperature.max()

LOCATION       Melbourne (Olympic Park)
DATETIME            2021-03-18 00:00:00
TEMPERATURE                        43.3
dtype: object

In [1088]:
vic_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1089]:
vic_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1090]:
vic_temperature.nunique()

LOCATION            1
DATETIME       141681
TEMPERATURE       424
dtype: int64

In [1091]:
vic_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## QLD Total Demand

In [1092]:
qld_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_qld.csv'), parse_dates=['DATETIME'])

In [1093]:
qld_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5561.21     QLD1
1 2010-01-01 00:30:00      5422.25     QLD1
2 2010-01-01 01:00:00      5315.98     QLD1
3 2010-01-01 01:30:00      5186.70     QLD1
4 2010-01-01 02:00:00      5050.83     QLD1

In [1094]:
qld_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      6443.62     QLD1
196509 2021-03-17 22:30:00      6264.63     QLD1
196510 2021-03-17 23:00:00      6144.16     QLD1
196511 2021-03-17 23:30:00      5897.64     QLD1
196512 2021-03-18 00:00:00      5737.03     QLD1

In [1095]:
qld_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [1164]:
qld_totaldemand['TOTALDEMAND'].describe()

count    196513.000000
mean       6026.545773
std         868.481406
min        3748.240000
25%        5368.770000
50%        5993.590000
75%        6601.290000
max        9988.090000
Name: TOTALDEMAND, dtype: float64

In [1097]:
qld_totaldemand.shape

(196513, 3)

In [1098]:
qld_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                3748.24
REGIONID                      QLD1
dtype: object

In [1099]:
qld_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                9988.09
REGIONID                      QLD1
dtype: object

In [1100]:
qld_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1101]:
qld_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1102]:
qld_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    146678
REGIONID            1
dtype: int64

In [1103]:
qld_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## SA Total Demand

In [1104]:
sa_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_sa.csv'), parse_dates=['DATETIME'])

In [1105]:
sa_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:30:00      1385.23      SA1
1 2010-01-01 01:00:00      1338.53      SA1
2 2010-01-01 01:30:00      1260.39      SA1
3 2010-01-01 02:00:00      1189.31      SA1
4 2010-01-01 02:30:00      1141.12      SA1

In [1106]:
sa_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196507 2021-03-17 22:00:00      1277.91      SA1
196508 2021-03-17 22:30:00      1226.81      SA1
196509 2021-03-17 23:00:00      1202.62      SA1
196510 2021-03-17 23:30:00      1194.34      SA1
196511 2021-03-18 00:00:00      1340.58      SA1

In [1107]:
sa_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196512 entries, 0 to 196511
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196512 non-null  datetime64[ns]
 1   TOTALDEMAND  196512 non-null  float64
 2   REGIONID     196512 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [1108]:
sa_totaldemand['TOTALDEMAND'].describe()

count    196512.000000
mean       1383.901566
std         326.494153
min          21.890000
25%        1164.480000
50%        1346.140000
75%        1567.342500
max        3385.420000
Name: TOTALDEMAND, dtype: float64

In [1109]:
sa_totaldemand.shape

(196512, 3)

In [1110]:
sa_totaldemand.min()

DATETIME       2010-01-01 00:30:00
TOTALDEMAND                  21.89
REGIONID                       SA1
dtype: object

In [1111]:
sa_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                3385.42
REGIONID                       SA1
dtype: object

In [1112]:
sa_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1113]:
sa_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1114]:
sa_totaldemand.nunique()

DATETIME       196512
TOTALDEMAND     95534
REGIONID            1
dtype: int64

In [1115]:
sa_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## Victoria Total Demand

In [1116]:
vic_total_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_vic.csv'), parse_dates=['DATETIME'])

In [1117]:
vic_total_demand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5426.12     VIC1
1 2010-01-01 00:30:00      5111.02     VIC1
2 2010-01-01 01:00:00      4960.03     VIC1
3 2010-01-01 01:30:00      5283.40     VIC1
4 2010-01-01 02:00:00      5046.15     VIC1

In [1118]:
vic_total_demand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      4557.56     VIC1
196509 2021-03-17 22:30:00      4485.95     VIC1
196510 2021-03-17 23:00:00      4434.62     VIC1
196511 2021-03-17 23:30:00      4660.85     VIC1
196512 2021-03-18 00:00:00      4608.85     VIC1

In [1119]:
vic_total_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [1120]:
vic_total_demand['TOTALDEMAND'].describe()

count    196513.000000
mean       5252.950834
std         946.281304
min        2307.070000
25%        4535.420000
50%        5157.760000
75%        5909.540000
max       10240.220000
Name: TOTALDEMAND, dtype: float64

In [1121]:
vic_total_demand.shape

(196513, 3)

In [1122]:
vic_total_demand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                2307.07
REGIONID                      VIC1
dtype: object

In [1123]:
vic_total_demand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               10240.22
REGIONID                      VIC1
dtype: object

In [1124]:
vic_total_demand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1125]:
vic_total_demand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1126]:
vic_total_demand.nunique()

DATETIME       196513
TOTALDEMAND    149442
REGIONID            1
dtype: int64

In [1127]:
vic_total_demand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## NSW Forecast Demand

In [1128]:
nsw_forecastdemand = pd.read_csv(os.path.join(data_path, 'NSW', 'forecastdemand_nsw.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [1129]:
nsw_forecastdemand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2009123018,NSW1,71,7832.04,2009-12-30 12:31:49,2010-01-01
1,2009123019,NSW1,70,7832.04,2009-12-30 13:01:43,2010-01-01
2,2009123020,NSW1,69,7832.03,2009-12-30 13:31:36,2010-01-01
3,2009123021,NSW1,68,7832.03,2009-12-30 14:01:44,2010-01-01
4,2009123022,NSW1,67,7830.96,2009-12-30 14:31:35,2010-01-01

In [1130]:
nsw_forecastdemand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
10906014,2021031736,NSW1,5,7028.45,2021-03-17 21:31:31,2021-03-18
10906015,2021031737,NSW1,4,7041.65,2021-03-17 22:01:34,2021-03-18
10906016,2021031738,NSW1,3,7087.60,2021-03-17 22:31:36,2021-03-18
10906017,2021031739,NSW1,2,7087.28,2021-03-17 23:01:36,2021-03-18
10906018,2021031740,NSW1,1,7126.37,2021-03-17 23:31:33,2021-03-18

In [1131]:
nsw_forecastdemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10906019 entries, 0 to 10906018
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 499.2+ MB

In [1132]:
nsw_forecastdemand['FORECASTDEMAND'].describe()

count    1.090602e+07
mean     8.066719e+03
std      1.315959e+03
min      4.422460e+03
25%      7.077970e+03
50%      8.007550e+03
75%      8.925610e+03
max      1.473666e+04
Name: FORECASTDEMAND, dtype: float64

In [1133]:
nsw_forecastdemand.shape

(10906019, 6)

In [1134]:
nsw_forecastdemand.min()

PREDISPATCHSEQNO             2009123018
REGIONID                           NSW1
PERIODID                              1
FORECASTDEMAND                  4422.46
LASTCHANGED         2009-12-30 12:31:49
DATETIME            2010-01-01 00:00:00
dtype: object

In [1135]:
nsw_forecastdemand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           NSW1
PERIODID                             79
FORECASTDEMAND                 14736.66
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-18 00:00:00
dtype: object

In [1136]:
nsw_forecastdemand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1137]:
nsw_forecastdemand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [1138]:
nsw_forecastdemand.nunique()

PREDISPATCHSEQNO    196571
REGIONID                 1
PERIODID                79
FORECASTDEMAND      681384
LASTCHANGED         196571
DATETIME            196513
dtype: int64

In [1139]:
nsw_forecastdemand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

## NSW temperature

In [1140]:
nsw_temperature = pd.read_csv(os.path.join(data_path, 'NSW', 'temperature_nsw.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [1141]:
nsw_temperature.head()

    LOCATION            DATETIME  TEMPERATURE
0  Bankstown 2010-01-01 00:00:00         23.1
1  Bankstown 2010-01-01 00:01:00         23.1
2  Bankstown 2010-01-01 00:30:00         22.9
3  Bankstown 2010-01-01 00:50:00         22.7
4  Bankstown 2010-01-01 01:00:00         22.6

In [1142]:
nsw_temperature.tail()

         LOCATION            DATETIME  TEMPERATURE
220321  Bankstown 2021-03-17 23:00:00         19.1
220322  Bankstown 2021-03-17 23:20:00         19.0
220323  Bankstown 2021-03-17 23:30:00         18.8
220324  Bankstown 2021-03-17 23:34:00         18.8
220325  Bankstown 2021-03-18 00:00:00         18.6

In [1143]:
nsw_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220326 entries, 0 to 220325
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     220326 non-null  object
 1   DATETIME     220326 non-null  datetime64[ns]
 2   TEMPERATURE  220326 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.0+ MB

In [1144]:
nsw_temperature.describe()

                            DATETIME    TEMPERATURE
count                         220326  220326.000000
mean   2015-08-16 07:59:12.964243712      17.418827
min              2010-01-01 00:00:00      -1.300000
25%              2012-11-02 23:07:30      13.400000
50%              2015-08-16 13:45:00      17.700000
75%              2018-06-03 14:22:30      21.300000
max              2021-03-18 00:00:00      44.700000
std                              NaN       5.849763

In [1145]:
nsw_temperature.shape

(220326, 3)

In [1146]:
nsw_temperature.min()

LOCATION                 Bankstown
DATETIME       2010-01-01 00:00:00
TEMPERATURE                   -1.3
dtype: object

In [1147]:
nsw_temperature.max()

LOCATION                 Bankstown
DATETIME       2021-03-18 00:00:00
TEMPERATURE                   44.7
dtype: object

In [1148]:
nsw_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1149]:
nsw_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1150]:
nsw_temperature.nunique()

LOCATION            1
DATETIME       220313
TEMPERATURE       439
dtype: int64

In [1151]:
nsw_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## NSW Total Demand

In [1152]:
nsw_totaldemand = pd.read_csv(os.path.join(data_path, 'NSW', 'totaldemand_nsw.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [1153]:
nsw_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      8038.00     NSW1
1 2010-01-01 00:30:00      7809.31     NSW1
2 2010-01-01 01:00:00      7483.69     NSW1
3 2010-01-01 01:30:00      7117.23     NSW1
4 2010-01-01 02:00:00      6812.03     NSW1

In [1154]:
nsw_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      7419.77     NSW1
196509 2021-03-17 22:30:00      7417.91     NSW1
196510 2021-03-17 23:00:00      7287.32     NSW1
196511 2021-03-17 23:30:00      7172.39     NSW1
196512 2021-03-18 00:00:00      7094.51     NSW1

In [1155]:
nsw_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [1156]:
nsw_totaldemand['TOTALDEMAND'].describe()

count    196513.000000
mean       8113.145859
std        1299.532774
min        5074.630000
25%        7150.070000
50%        8053.230000
75%        8958.550000
max       14579.860000
Name: TOTALDEMAND, dtype: float64

In [1157]:
nsw_totaldemand.shape

(196513, 3)

In [1158]:
nsw_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                5074.63
REGIONID                      NSW1
dtype: object

In [1159]:
nsw_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               14579.86
REGIONID                      NSW1
dtype: object

In [1160]:
nsw_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1161]:
nsw_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1162]:
nsw_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    160515
REGIONID            1
dtype: int64

In [1163]:
nsw_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object