In [1]:
import pandas as pd
import os

In [2]:
data_path = './../data'

# Table of Contents
1. [Victoria Forecast Demand](#victoria-forecast-demand)
2. [SA Forecast Demand](#sa-forecast-demand)
3. [QLD Forecast Demand](#qld-forecast-demand)
4. [QLD Temperatures](#qld-temperatures)
5. [SA Temperatures](#sa-temperatures)
6. [Victoria Temperature](#victoria-temperature)
7. [QLD Total Demand](#qld-total-demand)
8. [SA Total Demand](#sa-total-demand)
9. [Victoria Total Demand](#victoria-total-demand)
10. [NSW Forecast Demand](#nsw-forecast-demand)
11. [NSW temperature](#nsw-temperature)
12. [NSW Total Demand](#nsw-total-demand)

## Victoria Forecast Demand

In [3]:
%%time
vic_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'a', 'forecastdemand_vic.csv'))

CPU times: user 1.51 s, sys: 329 ms, total: 1.84 s
Wall time: 1.83 s

In [4]:
%%time
vic_forecast_demand.head()

CPU times: user 51 µs, sys: 54 µs, total: 105 µs
Wall time: 102 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,VIC1,71,4160.74,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,VIC1,72,3999.64,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,VIC1,73,3836.30,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,VIC1,74,3681.87,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,VIC1,75,3457.38,2016-12-30 12:31:25,2017-01-01 02:00:00

In [5]:
%%time
vic_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       object
 5   DATETIME          object
dtypes: float64(1), int64(2), object(3)
memory usage: 187.5+ MB
CPU times: user 1.19 ms, sys: 1.26 ms, total: 2.44 ms
Wall time: 2.36 ms

In [6]:
%%time
vic_forecast_demand.describe()

CPU times: user 157 ms, sys: 9.64 ms, total: 167 ms
Wall time: 166 ms

       PREDISPATCHSEQNO      PERIODID  FORECASTDEMAND
count      4.095592e+06  4.095592e+06    4.095592e+06
mean       2.018688e+09  2.998370e+01    4.862913e+03
std        1.214396e+06  1.869790e+01    8.704415e+02
min        2.016123e+09  1.000000e+00    2.354240e+03
25%        2.018012e+09  1.400000e+01    4.213920e+03
50%        2.019021e+09  2.800000e+01    4.749945e+03
75%        2.020023e+09  4.400000e+01    5.383632e+03
max        2.021032e+09  7.900000e+01    9.738030e+03

In [7]:
%%time
vic_forecast_demand.shape

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 7.63 µs

(4095592, 6)

In [8]:
%%time
vic_forecast_demand.min()

CPU times: user 377 ms, sys: 0 ns, total: 377 ms
Wall time: 376 ms

PREDISPATCHSEQNO             2016123018
REGIONID                           VIC1
PERIODID                              1
FORECASTDEMAND                  2354.24
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [9]:
%%time
vic_forecast_demand.max()

CPU times: user 370 ms, sys: 0 ns, total: 370 ms
Wall time: 369 ms

PREDISPATCHSEQNO             2021031740
REGIONID                           VIC1
PERIODID                             79
FORECASTDEMAND                  9738.03
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

check for nulls

In [10]:
%%time
vic_forecast_demand.isnull().sum()

CPU times: user 250 ms, sys: 480 µs, total: 250 ms
Wall time: 249 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [11]:
%%time
vic_forecast_demand.isna().sum()

CPU times: user 249 ms, sys: 2.49 ms, total: 251 ms
Wall time: 250 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

number of unique values

In [12]:
vic_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      430091
LASTCHANGED          73836
DATETIME             73833
dtype: int64

check for regular intervals

checking timestamps

visual inspection

check data types & do required conversions

check time stamps

## SA Forecast Demand

In [13]:
%%time
sa_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'b', 'forecastdemand_sa.csv'))

CPU times: user 1.46 s, sys: 305 ms, total: 1.76 s
Wall time: 1.76 s

In [14]:
%%time
sa_forecast_demand.head()

CPU times: user 241 µs, sys: 0 ns, total: 241 µs
Wall time: 238 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,SA1,71,1394.41,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,SA1,72,1285.07,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,SA1,73,1221.70,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,SA1,74,1141.86,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,SA1,75,1087.78,2016-12-30 12:31:25,2017-01-01 02:00:00

In [15]:
%%time
sa_forecast_demand.tail()

CPU times: user 37 µs, sys: 18 µs, total: 55 µs
Wall time: 54.6 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,SA1,53,1228.07,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,SA1,54,1208.17,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,SA1,55,1199.27,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,SA1,56,1194.31,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,SA1,57,1190.41,2021-03-17 23:31:33,2021-03-19 04:00:00

In [16]:
%%time
sa_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       object
 5   DATETIME          object
dtypes: float64(1), int64(2), object(3)
memory usage: 187.5+ MB
CPU times: user 1.28 ms, sys: 623 µs, total: 1.9 ms
Wall time: 1.83 ms

In [17]:
%%time
sa_forecast_demand.describe()

CPU times: user 145 ms, sys: 4.57 ms, total: 149 ms
Wall time: 149 ms

       PREDISPATCHSEQNO      PERIODID  FORECASTDEMAND
count      4.095592e+06  4.095592e+06    4.095592e+06
mean       2.018688e+09  2.998370e+01    1.299720e+03
std        1.214396e+06  1.869790e+01    3.293395e+02
min        2.016123e+09  1.000000e+00    1.198300e+02
25%        2.018012e+09  1.400000e+01    1.103100e+03
50%        2.019021e+09  2.800000e+01    1.269130e+03
75%        2.020023e+09  4.400000e+01    1.463940e+03
max        2.021032e+09  7.900000e+01    3.161750e+03

In [18]:
%%time
sa_forecast_demand.shape

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 7.63 µs

(4095592, 6)

In [19]:
%%time
sa_forecast_demand.min()

CPU times: user 380 ms, sys: 144 µs, total: 380 ms
Wall time: 379 ms

PREDISPATCHSEQNO             2016123018
REGIONID                            SA1
PERIODID                              1
FORECASTDEMAND                   119.83
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [20]:
%%time
sa_forecast_demand.max()

CPU times: user 386 ms, sys: 1.29 ms, total: 387 ms
Wall time: 386 ms

PREDISPATCHSEQNO             2021031740
REGIONID                            SA1
PERIODID                             79
FORECASTDEMAND                  3161.75
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [21]:
%%time
sa_forecast_demand.isnull().sum()

CPU times: user 244 ms, sys: 2.17 ms, total: 247 ms
Wall time: 246 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [22]:
%%time
sa_forecast_demand.isna().sum()

CPU times: user 245 ms, sys: 833 µs, total: 246 ms
Wall time: 245 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [23]:
%%time
sa_forecast_demand.nunique()

CPU times: user 440 ms, sys: 8 µs, total: 440 ms
Wall time: 439 ms

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      215933
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [24]:
sa_forecast_demand.dtypes

PREDISPATCHSEQNO      int64
REGIONID             object
PERIODID              int64
FORECASTDEMAND      float64
LASTCHANGED          object
DATETIME             object
dtype: object

## QLD Forecast Demand

In [25]:
qld_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'c', 'forecastdemand_qld.csv'))

In [26]:
qld_forecast_demand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,QLD1,71,6425.36,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,QLD1,72,6193.34,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,QLD1,73,6016.45,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,QLD1,74,5859.23,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,QLD1,75,5767.15,2016-12-30 12:31:25,2017-01-01 02:00:00

In [27]:
qld_forecast_demand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,QLD1,53,5600.29,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,QLD1,54,5570.50,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,QLD1,55,5549.37,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,QLD1,56,5545.07,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,QLD1,57,5564.29,2021-03-17 23:31:33,2021-03-19 04:00:00

In [28]:
qld_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       object
 5   DATETIME          object
dtypes: float64(1), int64(2), object(3)
memory usage: 187.5+ MB

In [29]:
qld_forecast_demand.describe()

       PREDISPATCHSEQNO      PERIODID  FORECASTDEMAND
count      4.095592e+06  4.095592e+06    4.095592e+06
mean       2.018688e+09  2.998370e+01    6.217552e+03
std        1.214396e+06  1.869790e+01    8.990330e+02
min        2.016123e+09  1.000000e+00    3.634990e+03
25%        2.018012e+09  1.400000e+01    5.493320e+03
50%        2.019021e+09  2.800000e+01    6.105220e+03
75%        2.020023e+09  4.400000e+01    6.833010e+03
max        2.021032e+09  7.900000e+01    1.004541e+04

In [30]:
qld_forecast_demand.shape

(4095592, 6)

In [31]:
qld_forecast_demand.min()

PREDISPATCHSEQNO             2016123018
REGIONID                           QLD1
PERIODID                              1
FORECASTDEMAND                  3634.99
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [32]:
qld_forecast_demand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           QLD1
PERIODID                             79
FORECASTDEMAND                 10045.41
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [33]:
qld_forecast_demand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [34]:
qld_forecast_demand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [35]:
qld_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      432543
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [36]:
qld_forecast_demand.dtypes

PREDISPATCHSEQNO      int64
REGIONID             object
PERIODID              int64
FORECASTDEMAND      float64
LASTCHANGED          object
DATETIME             object
dtype: object

## QLD Temperatures

In [37]:
qld_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_qld.csv'))

In [38]:
qld_temperature.head()

                       LOCATION        DATETIME  TEMPERATURE
0  Brisbane Archerfield Airport  1/01/2010 0:00         23.6
1  Brisbane Archerfield Airport  1/01/2010 0:30         23.7
2  Brisbane Archerfield Airport  1/01/2010 1:00         23.5
3  Brisbane Archerfield Airport  1/01/2010 1:30         22.6
4  Brisbane Archerfield Airport  1/01/2010 2:00         22.0

In [39]:
qld_temperature.tail()

                            LOCATION          DATETIME  TEMPERATURE
208080  Brisbane Archerfield Airport  17/03/2021 22:00         19.6
208081  Brisbane Archerfield Airport  17/03/2021 22:30         19.5
208082  Brisbane Archerfield Airport  17/03/2021 23:00         19.4
208083  Brisbane Archerfield Airport  17/03/2021 23:30         19.6
208084  Brisbane Archerfield Airport   18/03/2021 0:00         19.5

In [40]:
qld_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  object
 2   TEMPERATURE  208085 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.8+ MB

In [41]:
qld_temperature.describe()

         TEMPERATURE
count  208085.000000
mean       20.375972
std         5.586945
min         1.300000
25%        16.600000
50%        20.900000
75%        24.300000
max        42.400000

In [42]:
qld_temperature.shape

(208085, 3)

In [43]:
qld_temperature.min()

LOCATION       Brisbane Archerfield Airport
DATETIME                     1/01/2010 0:00
TEMPERATURE                             1.3
dtype: object

In [44]:
qld_temperature.max()

LOCATION       Brisbane Archerfield Airport
DATETIME                     9/12/2020 9:30
TEMPERATURE                            42.4
dtype: object

In [45]:
qld_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [46]:
qld_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [47]:
qld_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [48]:
qld_temperature.dtypes

LOCATION        object
DATETIME        object
TEMPERATURE    float64
dtype: object

## SA Temperatures

In [49]:
sa_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_sa.csv'))

In [50]:
sa_temperature.head()

   Unnamed: 0              LOCATION             DATETIME  TEMPERATURE
0           0  Adelaide (Kent Town)  2010-01-01 00:00:00         23.6
1           1  Adelaide (Kent Town)  2010-01-01 00:30:00         23.7
2           2  Adelaide (Kent Town)  2010-01-01 01:00:00         23.5
3           3  Adelaide (Kent Town)  2010-01-01 01:30:00         22.6
4           4  Adelaide (Kent Town)  2010-01-01 02:00:00         22.0

In [51]:
sa_temperature.tail()

        Unnamed: 0              LOCATION             DATETIME  TEMPERATURE
208080      208080  Adelaide (Kent Town)  2021-03-17 22:00:00         19.6
208081      208081  Adelaide (Kent Town)  2021-03-17 22:30:00         19.5
208082      208082  Adelaide (Kent Town)  2021-03-17 23:00:00         19.4
208083      208083  Adelaide (Kent Town)  2021-03-17 23:30:00         19.6
208084      208084  Adelaide (Kent Town)  2021-03-18 00:00:00         19.5

In [52]:
sa_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   208085 non-null  int64
 1   LOCATION     208085 non-null  object
 2   DATETIME     208085 non-null  object
 3   TEMPERATURE  208085 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.4+ MB

In [53]:
sa_temperature.describe()

         Unnamed: 0    TEMPERATURE
count  208085.00000  208085.000000
mean   104042.00000      20.375972
std     60069.10972       5.586945
min         0.00000       1.300000
25%     52021.00000      16.600000
50%    104042.00000      20.900000
75%    156063.00000      24.300000
max    208084.00000      42.400000

In [54]:
sa_temperature.shape

(208085, 4)

In [55]:
sa_temperature.min()

Unnamed: 0                        0
LOCATION       Adelaide (Kent Town)
DATETIME        2010-01-01 00:00:00
TEMPERATURE                     1.3
dtype: object

In [56]:
sa_temperature.max()

Unnamed: 0                   208084
LOCATION       Adelaide (Kent Town)
DATETIME        2021-03-18 00:00:00
TEMPERATURE                    42.4
dtype: object

In [57]:
sa_temperature.isnull().sum()

Unnamed: 0     0
LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [58]:
sa_temperature.isna().sum()

Unnamed: 0     0
LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [59]:
sa_temperature.nunique()

Unnamed: 0     208085
LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [60]:
sa_temperature.dtypes

Unnamed: 0       int64
LOCATION        object
DATETIME        object
TEMPERATURE    float64
dtype: object

## Victoria Temperature

In [61]:
vic_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_vic.csv'))

In [62]:
vic_temperature.head()

                   LOCATION          DATETIME  TEMPERATURE
0  Melbourne (Olympic Park)  31/05/2013 15:00         18.2
1  Melbourne (Olympic Park)  31/05/2013 15:30         18.3
2  Melbourne (Olympic Park)  31/05/2013 16:00         18.3
3  Melbourne (Olympic Park)  31/05/2013 16:30         18.3
4  Melbourne (Olympic Park)  31/05/2013 17:00         18.2

In [63]:
vic_temperature.tail()

                        LOCATION          DATETIME  TEMPERATURE
141676  Melbourne (Olympic Park)  17/03/2021 22:00         18.9
141677  Melbourne (Olympic Park)  17/03/2021 22:30         17.9
141678  Melbourne (Olympic Park)  17/03/2021 23:00         17.3
141679  Melbourne (Olympic Park)  17/03/2021 23:30         16.6
141680  Melbourne (Olympic Park)   18/03/2021 0:00         15.8

In [64]:
vic_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141681 entries, 0 to 141680
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     141681 non-null  object
 1   DATETIME     141681 non-null  object
 2   TEMPERATURE  141681 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.2+ MB

In [65]:
vic_temperature.describe()

         TEMPERATURE
count  141681.000000
mean       15.711337
std         5.637641
min         0.800000
25%        11.800000
50%        14.900000
75%        18.700000
max        43.300000

In [66]:
vic_temperature.shape

(141681, 3)

In [67]:
vic_temperature.min()

LOCATION       Melbourne (Olympic Park)
DATETIME                 1/01/2014 0:00
TEMPERATURE                         0.8
dtype: object

In [68]:
vic_temperature.max()

LOCATION       Melbourne (Olympic Park)
DATETIME                 9/12/2020 9:30
TEMPERATURE                        43.3
dtype: object

In [69]:
vic_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [70]:
vic_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [71]:
vic_temperature.nunique()

LOCATION            1
DATETIME       141681
TEMPERATURE       424
dtype: int64

In [72]:
vic_temperature.dtypes

LOCATION        object
DATETIME        object
TEMPERATURE    float64
dtype: object

## QLD Total Demand

In [73]:
qld_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_qld.csv'))

In [74]:
qld_totaldemand.head()

              DATETIME  TOTALDEMAND REGIONID
0  2010-01-01 00:00:00      5561.21     QLD1
1  2010-01-01 00:30:00      5422.25     QLD1
2  2010-01-01 01:00:00      5315.98     QLD1
3  2010-01-01 01:30:00      5186.70     QLD1
4  2010-01-01 02:00:00      5050.83     QLD1

In [75]:
qld_totaldemand.tail()

                   DATETIME  TOTALDEMAND REGIONID
196508  2021-03-17 22:00:00      6443.62     QLD1
196509  2021-03-17 22:30:00      6264.63     QLD1
196510  2021-03-17 23:00:00      6144.16     QLD1
196511  2021-03-17 23:30:00      5897.64     QLD1
196512  2021-03-18 00:00:00      5737.03     QLD1

In [76]:
qld_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  object
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [77]:
qld_totaldemand.describe()

         TOTALDEMAND
count  196513.000000
mean     6026.545773
std       868.481406
min      3748.240000
25%      5368.770000
50%      5993.590000
75%      6601.290000
max      9988.090000

In [78]:
qld_totaldemand.shape

(196513, 3)

In [79]:
qld_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                3748.24
REGIONID                      QLD1
dtype: object

In [80]:
qld_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                9988.09
REGIONID                      QLD1
dtype: object

In [81]:
qld_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [82]:
qld_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [83]:
qld_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    146678
REGIONID            1
dtype: int64

In [84]:
qld_totaldemand.dtypes

DATETIME        object
TOTALDEMAND    float64
REGIONID        object
dtype: object

## SA Total Demand

In [85]:
sa_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_sa.csv'))

In [86]:
sa_totaldemand.head()

              DATETIME  TOTALDEMAND REGIONID
0  2010-01-01 00:30:00      1385.23      SA1
1  2010-01-01 01:00:00      1338.53      SA1
2  2010-01-01 01:30:00      1260.39      SA1
3  2010-01-01 02:00:00      1189.31      SA1
4  2010-01-01 02:30:00      1141.12      SA1

In [87]:
sa_totaldemand.tail()

                   DATETIME  TOTALDEMAND REGIONID
196507  2021-03-17 22:00:00      1277.91      SA1
196508  2021-03-17 22:30:00      1226.81      SA1
196509  2021-03-17 23:00:00      1202.62      SA1
196510  2021-03-17 23:30:00      1194.34      SA1
196511  2021-03-18 00:00:00      1340.58      SA1

In [88]:
sa_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196512 entries, 0 to 196511
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196512 non-null  object
 1   TOTALDEMAND  196512 non-null  float64
 2   REGIONID     196512 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [89]:
sa_totaldemand.describe()

         TOTALDEMAND
count  196512.000000
mean     1383.901566
std       326.494153
min        21.890000
25%      1164.480000
50%      1346.140000
75%      1567.342500
max      3385.420000

In [90]:
sa_totaldemand.shape

(196512, 3)

In [91]:
sa_totaldemand.min()

DATETIME       2010-01-01 00:30:00
TOTALDEMAND                  21.89
REGIONID                       SA1
dtype: object

In [92]:
sa_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                3385.42
REGIONID                       SA1
dtype: object

In [93]:
sa_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [94]:
sa_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [95]:
sa_totaldemand.nunique()

DATETIME       196512
TOTALDEMAND     95534
REGIONID            1
dtype: int64

In [96]:
sa_totaldemand.dtypes

DATETIME        object
TOTALDEMAND    float64
REGIONID        object
dtype: object

## Victoria Total Demand

In [97]:
vic_total_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_vic.csv'))

In [98]:
vic_total_demand.head()

              DATETIME  TOTALDEMAND REGIONID
0  2010-01-01 00:00:00      5426.12     VIC1
1  2010-01-01 00:30:00      5111.02     VIC1
2  2010-01-01 01:00:00      4960.03     VIC1
3  2010-01-01 01:30:00      5283.40     VIC1
4  2010-01-01 02:00:00      5046.15     VIC1

In [99]:
vic_total_demand.tail()

                   DATETIME  TOTALDEMAND REGIONID
196508  2021-03-17 22:00:00      4557.56     VIC1
196509  2021-03-17 22:30:00      4485.95     VIC1
196510  2021-03-17 23:00:00      4434.62     VIC1
196511  2021-03-17 23:30:00      4660.85     VIC1
196512  2021-03-18 00:00:00      4608.85     VIC1

In [100]:
vic_total_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  object
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [101]:
vic_total_demand.describe()

         TOTALDEMAND
count  196513.000000
mean     5252.950834
std       946.281304
min      2307.070000
25%      4535.420000
50%      5157.760000
75%      5909.540000
max     10240.220000

In [102]:
vic_total_demand.shape

(196513, 3)

In [103]:
vic_total_demand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                2307.07
REGIONID                      VIC1
dtype: object

In [104]:
vic_total_demand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               10240.22
REGIONID                      VIC1
dtype: object

In [105]:
vic_total_demand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [106]:
vic_total_demand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [107]:
vic_total_demand.nunique()

DATETIME       196513
TOTALDEMAND    149442
REGIONID            1
dtype: int64

In [108]:
vic_total_demand.dtypes

DATETIME        object
TOTALDEMAND    float64
REGIONID        object
dtype: object

## NSW Forecast Demand

In [ ]:
nsw_forecastdemand = pd.read_csv(os.path.join(data_path, 'NSW', 'forecastdemand_nsw.csv'))

In [ ]:
nsw_forecastdemand.head()

In [ ]:
nsw_forecastdemand.tail()

In [ ]:
nsw_forecastdemand.info()

In [ ]:
nsw_forecastdemand.describe()

In [ ]:
nsw_forecastdemand.shape

In [ ]:
nsw_forecastdemand.min()

In [ ]:
nsw_forecastdemand.max()

In [ ]:
nsw_forecastdemand.isnull().sum()

In [ ]:
nsw_forecastdemand.isna().sum()

In [ ]:
nsw_forecastdemand.nunique()

In [ ]:
nsw_forecastdemand.dtypes

## NSW temperature

In [ ]:
nsw_temperature = pd.read_csv(os.path.join(data_path, 'NSW', 'temperature_nsw.csv'))

In [ ]:
nsw_temperature.head()

In [ ]:
nsw_temperature.tail()

In [ ]:
nsw_temperature.info()

In [ ]:
nsw_temperature.describe()

In [ ]:
nsw_temperature.shape

In [ ]:
nsw_temperature.min()

In [ ]:
nsw_temperature.max()

In [ ]:
nsw_temperature.isnull().sum()

In [ ]:
nsw_temperature.isna().sum()

In [ ]:
nsw_temperature.nunique()

In [ ]:
nsw_temperature.dtypes

## NSW Total Demand

In [ ]:
nsw_totaldemand = pd.read_csv(os.path.join(data_path, 'NSW', 'totaldemand_nsw.csv'))

In [ ]:
nsw_totaldemand.head()

In [ ]:
nsw_totaldemand.tail()

In [ ]:
nsw_totaldemand.info()

In [ ]:
nsw_totaldemand.describe()

In [ ]:
nsw_totaldemand.shape

In [ ]:
nsw_totaldemand.min()

In [ ]:
nsw_totaldemand.max()

In [ ]:
nsw_totaldemand.isnull().sum()

In [ ]:
nsw_totaldemand.isna().sum()

In [ ]:
nsw_totaldemand.nunique()

In [ ]:
nsw_totaldemand.dtypes