In [876]:
import pandas as pd
import os

In [877]:
data_path = './../data'

# Table of Contents
1. [Victoria Forecast Demand](#1)
2. [SA Forecast Demand](#2)
3. [QLD Forecast Demand](#3)
4. [QLD Temperatures](#4)
5. [SA Temperatures](#5)
6. [Victoria Temperature](#6)
7. [QLD Total Demand](#qld-total-demand)
8. [SA Total Demand](#sa-total-demand)
9. [Victoria Total Demand](#victoria-total-demand)
10. [NSW Forecast Demand](#nsw-forecast-demand)
11. [NSW temperature](#nsw-temperature)
12. [NSW Total Demand](#nsw-total-demand)

<a id="1"></a>
## Victoria Forecast Demand

In [878]:
%%time
vic_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'a', 'forecastdemand_vic.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 1.97 s, sys: 96 ms, total: 2.07 s
Wall time: 2.06 s

In [879]:
%%time
vic_forecast_demand.head()

CPU times: user 116 µs, sys: 9 µs, total: 125 µs
Wall time: 123 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,VIC1,71,4160.74,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,VIC1,72,3999.64,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,VIC1,73,3836.30,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,VIC1,74,3681.87,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,VIC1,75,3457.38,2016-12-30 12:31:25,2017-01-01 02:00:00

In [880]:
%%time
vic_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 1.85 ms, sys: 0 ns, total: 1.85 ms
Wall time: 1.75 ms

In [881]:
%%time
vic_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 75.4 ms, sys: 0 ns, total: 75.4 ms
Wall time: 75.1 ms

count    4.095592e+06
mean     4.862913e+03
std      8.704415e+02
min      2.354240e+03
25%      4.213920e+03
50%      4.749945e+03
75%      5.383632e+03
max      9.738030e+03
Name: FORECASTDEMAND, dtype: float64

In [882]:
%%time
vic_forecast_demand.shape

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 10.5 µs

(4095592, 6)

In [883]:
%%time
vic_forecast_demand.min()

CPU times: user 140 ms, sys: 0 ns, total: 140 ms
Wall time: 139 ms

PREDISPATCHSEQNO             2016123018
REGIONID                           VIC1
PERIODID                              1
FORECASTDEMAND                  2354.24
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [884]:
%%time
vic_forecast_demand.max()

CPU times: user 141 ms, sys: 0 ns, total: 141 ms
Wall time: 139 ms

PREDISPATCHSEQNO             2021031740
REGIONID                           VIC1
PERIODID                             79
FORECASTDEMAND                  9738.03
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

check for nulls

In [885]:
%%time
vic_forecast_demand.isnull().sum()

CPU times: user 92.2 ms, sys: 0 ns, total: 92.2 ms
Wall time: 91.2 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [886]:
%%time
vic_forecast_demand.isna().sum()

CPU times: user 93.6 ms, sys: 0 ns, total: 93.6 ms
Wall time: 92.6 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

number of unique values

In [887]:
vic_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      430091
LASTCHANGED          73836
DATETIME             73833
dtype: int64

check for regular intervals

checking timestamps

visual inspection

check data types & do required conversions

check time stamps

<a id="2"></a>
## SA Forecast Demand

In [888]:
%%time
sa_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'b', 'forecastdemand_sa.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

CPU times: user 2.02 s, sys: 88 ms, total: 2.11 s
Wall time: 2.1 s

In [889]:
%%time
sa_forecast_demand.head()

CPU times: user 107 µs, sys: 0 ns, total: 107 µs
Wall time: 97.3 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,SA1,71,1394.41,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,SA1,72,1285.07,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,SA1,73,1221.70,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,SA1,74,1141.86,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,SA1,75,1087.78,2016-12-30 12:31:25,2017-01-01 02:00:00

In [890]:
%%time
sa_forecast_demand.tail()

CPU times: user 117 µs, sys: 10 µs, total: 127 µs
Wall time: 127 µs

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,SA1,53,1228.07,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,SA1,54,1208.17,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,SA1,55,1199.27,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,SA1,56,1194.31,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,SA1,57,1190.41,2021-03-17 23:31:33,2021-03-19 04:00:00

In [891]:
%%time
sa_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB
CPU times: user 2.29 ms, sys: 0 ns, total: 2.29 ms
Wall time: 2.18 ms

In [892]:
%%time
sa_forecast_demand['FORECASTDEMAND'].describe()

CPU times: user 80.3 ms, sys: 0 ns, total: 80.3 ms
Wall time: 79.9 ms

count    4.095592e+06
mean     1.299720e+03
std      3.293395e+02
min      1.198300e+02
25%      1.103100e+03
50%      1.269130e+03
75%      1.463940e+03
max      3.161750e+03
Name: FORECASTDEMAND, dtype: float64

In [893]:
%%time
sa_forecast_demand.shape

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 10.3 µs

(4095592, 6)

In [894]:
%%time
sa_forecast_demand.min()

CPU times: user 139 ms, sys: 0 ns, total: 139 ms
Wall time: 139 ms

PREDISPATCHSEQNO             2016123018
REGIONID                            SA1
PERIODID                              1
FORECASTDEMAND                   119.83
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [895]:
%%time
sa_forecast_demand.max()

CPU times: user 140 ms, sys: 112 µs, total: 140 ms
Wall time: 139 ms

PREDISPATCHSEQNO             2021031740
REGIONID                            SA1
PERIODID                             79
FORECASTDEMAND                  3161.75
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [896]:
%%time
sa_forecast_demand.isnull().sum()

CPU times: user 92.6 ms, sys: 0 ns, total: 92.6 ms
Wall time: 91.5 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [897]:
%%time
sa_forecast_demand.isna().sum()

CPU times: user 92.5 ms, sys: 27 µs, total: 92.5 ms
Wall time: 91.1 ms

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [898]:
%%time
sa_forecast_demand.nunique()

CPU times: user 198 ms, sys: 3.5 ms, total: 201 ms
Wall time: 201 ms

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      215933
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [899]:
sa_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="3"></a>
## QLD Forecast Demand

In [900]:
qld_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'c', 'forecastdemand_qld.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [901]:
qld_forecast_demand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,QLD1,71,6425.36,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,QLD1,72,6193.34,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,QLD1,73,6016.45,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,QLD1,74,5859.23,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,QLD1,75,5767.15,2016-12-30 12:31:25,2017-01-01 02:00:00

In [902]:
qld_forecast_demand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,QLD1,53,5600.29,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,QLD1,54,5570.50,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,QLD1,55,5549.37,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,QLD1,56,5545.07,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,QLD1,57,5564.29,2021-03-17 23:31:33,2021-03-19 04:00:00

In [903]:
qld_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB

In [904]:
qld_forecast_demand['FORECASTDEMAND'].describe()

count    4.095592e+06
mean     6.217552e+03
std      8.990330e+02
min      3.634990e+03
25%      5.493320e+03
50%      6.105220e+03
75%      6.833010e+03
max      1.004541e+04
Name: FORECASTDEMAND, dtype: float64

In [905]:
qld_forecast_demand.shape

(4095592, 6)

In [906]:
qld_forecast_demand.min()

PREDISPATCHSEQNO             2016123018
REGIONID                           QLD1
PERIODID                              1
FORECASTDEMAND                  3634.99
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [907]:
qld_forecast_demand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           QLD1
PERIODID                             79
FORECASTDEMAND                 10045.41
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [908]:
qld_forecast_demand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [909]:
qld_forecast_demand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [910]:
qld_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      432543
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [911]:
qld_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

<a id="4"></a>
## QLD Temperatures

In [912]:
qld_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_qld.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [913]:
qld_temperature.head()

                       LOCATION            DATETIME  TEMPERATURE
0  Brisbane Archerfield Airport 2010-01-01 00:00:00         23.6
1  Brisbane Archerfield Airport 2010-01-01 00:30:00         23.7
2  Brisbane Archerfield Airport 2010-01-01 01:00:00         23.5
3  Brisbane Archerfield Airport 2010-01-01 01:30:00         22.6
4  Brisbane Archerfield Airport 2010-01-01 02:00:00         22.0

In [914]:
qld_temperature.tail()

                            LOCATION            DATETIME  TEMPERATURE
208080  Brisbane Archerfield Airport 2021-03-17 22:00:00         19.6
208081  Brisbane Archerfield Airport 2021-03-17 22:30:00         19.5
208082  Brisbane Archerfield Airport 2021-03-17 23:00:00         19.4
208083  Brisbane Archerfield Airport 2021-03-17 23:30:00         19.6
208084  Brisbane Archerfield Airport 2021-03-18 00:00:00         19.5

In [915]:
qld_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.8+ MB

In [916]:
qld_temperature.describe()

                            DATETIME    TEMPERATURE
count                         208085  208085.000000
mean   2015-08-14 23:20:54.126438912      20.375972
min              2010-01-01 00:00:00       1.300000
25%              2012-10-18 19:30:00      16.600000
50%              2015-08-11 07:30:00      20.900000
75%              2018-06-13 01:00:00      24.300000
max              2021-03-18 00:00:00      42.400000
std                              NaN       5.586945

In [917]:
qld_temperature.shape

(208085, 3)

In [918]:
qld_temperature.min()

LOCATION       Brisbane Archerfield Airport
DATETIME                2010-01-01 00:00:00
TEMPERATURE                             1.3
dtype: object

In [919]:
qld_temperature.max()

LOCATION       Brisbane Archerfield Airport
DATETIME                2021-03-18 00:00:00
TEMPERATURE                            42.4
dtype: object

In [920]:
qld_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [921]:
qld_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [922]:
qld_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [923]:
qld_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="5"></a>
## SA Temperatures

In [924]:
sa_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_sa.csv'), parse_dates=['DATETIME'])

In [925]:
sa_temperature.head()

   Unnamed: 0              LOCATION            DATETIME  TEMPERATURE
0           0  Adelaide (Kent Town) 2010-01-01 00:00:00         23.6
1           1  Adelaide (Kent Town) 2010-01-01 00:30:00         23.7
2           2  Adelaide (Kent Town) 2010-01-01 01:00:00         23.5
3           3  Adelaide (Kent Town) 2010-01-01 01:30:00         22.6
4           4  Adelaide (Kent Town) 2010-01-01 02:00:00         22.0

In [926]:
sa_temperature.tail()

        Unnamed: 0              LOCATION            DATETIME  TEMPERATURE
208080      208080  Adelaide (Kent Town) 2021-03-17 22:00:00         19.6
208081      208081  Adelaide (Kent Town) 2021-03-17 22:30:00         19.5
208082      208082  Adelaide (Kent Town) 2021-03-17 23:00:00         19.4
208083      208083  Adelaide (Kent Town) 2021-03-17 23:30:00         19.6
208084      208084  Adelaide (Kent Town) 2021-03-18 00:00:00         19.5

In [927]:
sa_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208085 entries, 0 to 208084
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   208085 non-null  int64
 1   LOCATION     208085 non-null  object
 2   DATETIME     208085 non-null  datetime64[ns]
 3   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [928]:
sa_temperature['TEMPERATURE'].describe()

count    208085.000000
mean         20.375972
std           5.586945
min           1.300000
25%          16.600000
50%          20.900000
75%          24.300000
max          42.400000
Name: TEMPERATURE, dtype: float64

In [929]:
sa_temperature.shape

(208085, 4)

In [930]:
sa_temperature.min()

Unnamed: 0                        0
LOCATION       Adelaide (Kent Town)
DATETIME        2010-01-01 00:00:00
TEMPERATURE                     1.3
dtype: object

In [931]:
sa_temperature.max()

Unnamed: 0                   208084
LOCATION       Adelaide (Kent Town)
DATETIME        2021-03-18 00:00:00
TEMPERATURE                    42.4
dtype: object

In [932]:
sa_temperature.isnull().sum()

Unnamed: 0     0
LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [933]:
sa_temperature.isna().sum()

Unnamed: 0     0
LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [934]:
sa_temperature.nunique()

Unnamed: 0     208085
LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [935]:
sa_temperature.dtypes

Unnamed: 0              int64
LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

<a id="6"></a>
## Victoria Temperature

In [936]:
vic_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_vic.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [937]:
vic_temperature.head()

                   LOCATION            DATETIME  TEMPERATURE
0  Melbourne (Olympic Park) 2013-05-31 15:00:00         18.2
1  Melbourne (Olympic Park) 2013-05-31 15:30:00         18.3
2  Melbourne (Olympic Park) 2013-05-31 16:00:00         18.3
3  Melbourne (Olympic Park) 2013-05-31 16:30:00         18.3
4  Melbourne (Olympic Park) 2013-05-31 17:00:00         18.2

In [938]:
vic_temperature.tail()

                        LOCATION            DATETIME  TEMPERATURE
141676  Melbourne (Olympic Park) 2021-03-17 22:00:00         18.9
141677  Melbourne (Olympic Park) 2021-03-17 22:30:00         17.9
141678  Melbourne (Olympic Park) 2021-03-17 23:00:00         17.3
141679  Melbourne (Olympic Park) 2021-03-17 23:30:00         16.6
141680  Melbourne (Olympic Park) 2021-03-18 00:00:00         15.8

In [939]:
vic_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141681 entries, 0 to 141680
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     141681 non-null  object
 1   DATETIME     141681 non-null  datetime64[ns]
 2   TEMPERATURE  141681 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.2+ MB

In [940]:
vic_temperature['TEMPERATURE'].describe()

count    141681.000000
mean         15.711337
std           5.637641
min           0.800000
25%          11.800000
50%          14.900000
75%          18.700000
max          43.300000
Name: TEMPERATURE, dtype: float64

In [941]:
vic_temperature.shape

(141681, 3)

In [942]:
vic_temperature.min()

LOCATION       Melbourne (Olympic Park)
DATETIME            2013-05-31 15:00:00
TEMPERATURE                         0.8
dtype: object

In [943]:
vic_temperature.max()

LOCATION       Melbourne (Olympic Park)
DATETIME            2021-03-18 00:00:00
TEMPERATURE                        43.3
dtype: object

In [944]:
vic_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [945]:
vic_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [946]:
vic_temperature.nunique()

LOCATION            1
DATETIME       141681
TEMPERATURE       424
dtype: int64

In [947]:
vic_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## QLD Total Demand

In [948]:
qld_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_qld.csv'), parse_dates=['DATETIME'])

In [949]:
qld_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5561.21     QLD1
1 2010-01-01 00:30:00      5422.25     QLD1
2 2010-01-01 01:00:00      5315.98     QLD1
3 2010-01-01 01:30:00      5186.70     QLD1
4 2010-01-01 02:00:00      5050.83     QLD1

In [950]:
qld_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      6443.62     QLD1
196509 2021-03-17 22:30:00      6264.63     QLD1
196510 2021-03-17 23:00:00      6144.16     QLD1
196511 2021-03-17 23:30:00      5897.64     QLD1
196512 2021-03-18 00:00:00      5737.03     QLD1

In [951]:
qld_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [952]:
qld_totaldemand.describe()

                            DATETIME    TOTALDEMAND
count                         196513  196513.000000
mean   2015-08-10 00:00:00.000000512    6026.545773
min              2010-01-01 00:00:00    3748.240000
25%              2012-10-20 12:00:00    5368.770000
50%              2015-08-10 00:00:00    5993.590000
75%              2018-05-29 12:00:00    6601.290000
max              2021-03-18 00:00:00    9988.090000
std                              NaN     868.481406

In [953]:
qld_totaldemand.shape

(196513, 3)

In [954]:
qld_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                3748.24
REGIONID                      QLD1
dtype: object

In [955]:
qld_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                9988.09
REGIONID                      QLD1
dtype: object

In [956]:
qld_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [957]:
qld_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [958]:
qld_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    146678
REGIONID            1
dtype: int64

In [959]:
qld_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## SA Total Demand

In [960]:
sa_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_sa.csv'), parse_dates=['DATETIME'])

In [961]:
sa_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:30:00      1385.23      SA1
1 2010-01-01 01:00:00      1338.53      SA1
2 2010-01-01 01:30:00      1260.39      SA1
3 2010-01-01 02:00:00      1189.31      SA1
4 2010-01-01 02:30:00      1141.12      SA1

In [962]:
sa_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196507 2021-03-17 22:00:00      1277.91      SA1
196508 2021-03-17 22:30:00      1226.81      SA1
196509 2021-03-17 23:00:00      1202.62      SA1
196510 2021-03-17 23:30:00      1194.34      SA1
196511 2021-03-18 00:00:00      1340.58      SA1

In [963]:
sa_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196512 entries, 0 to 196511
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196512 non-null  datetime64[ns]
 1   TOTALDEMAND  196512 non-null  float64
 2   REGIONID     196512 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [964]:
sa_totaldemand['TOTALDEMAND'].describe()

count    196512.000000
mean       1383.901566
std         326.494153
min          21.890000
25%        1164.480000
50%        1346.140000
75%        1567.342500
max        3385.420000
Name: TOTALDEMAND, dtype: float64

In [965]:
sa_totaldemand.shape

(196512, 3)

In [966]:
sa_totaldemand.min()

DATETIME       2010-01-01 00:30:00
TOTALDEMAND                  21.89
REGIONID                       SA1
dtype: object

In [967]:
sa_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                3385.42
REGIONID                       SA1
dtype: object

In [968]:
sa_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [969]:
sa_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [970]:
sa_totaldemand.nunique()

DATETIME       196512
TOTALDEMAND     95534
REGIONID            1
dtype: int64

In [971]:
sa_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## Victoria Total Demand

In [972]:
vic_total_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_vic.csv'), parse_dates=['DATETIME'])

In [973]:
vic_total_demand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5426.12     VIC1
1 2010-01-01 00:30:00      5111.02     VIC1
2 2010-01-01 01:00:00      4960.03     VIC1
3 2010-01-01 01:30:00      5283.40     VIC1
4 2010-01-01 02:00:00      5046.15     VIC1

In [974]:
vic_total_demand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      4557.56     VIC1
196509 2021-03-17 22:30:00      4485.95     VIC1
196510 2021-03-17 23:00:00      4434.62     VIC1
196511 2021-03-17 23:30:00      4660.85     VIC1
196512 2021-03-18 00:00:00      4608.85     VIC1

In [975]:
vic_total_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [976]:
vic_total_demand['TOTALDEMAND'].describe()

count    196513.000000
mean       5252.950834
std         946.281304
min        2307.070000
25%        4535.420000
50%        5157.760000
75%        5909.540000
max       10240.220000
Name: TOTALDEMAND, dtype: float64

In [977]:
vic_total_demand.shape

(196513, 3)

In [978]:
vic_total_demand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                2307.07
REGIONID                      VIC1
dtype: object

In [979]:
vic_total_demand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               10240.22
REGIONID                      VIC1
dtype: object

In [980]:
vic_total_demand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [981]:
vic_total_demand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [982]:
vic_total_demand.nunique()

DATETIME       196513
TOTALDEMAND    149442
REGIONID            1
dtype: int64

In [983]:
vic_total_demand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## NSW Forecast Demand

In [984]:
nsw_forecastdemand = pd.read_csv(os.path.join(data_path, 'NSW', 'forecastdemand_nsw.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [985]:
nsw_forecastdemand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2009123018,NSW1,71,7832.04,2009-12-30 12:31:49,2010-01-01
1,2009123019,NSW1,70,7832.04,2009-12-30 13:01:43,2010-01-01
2,2009123020,NSW1,69,7832.03,2009-12-30 13:31:36,2010-01-01
3,2009123021,NSW1,68,7832.03,2009-12-30 14:01:44,2010-01-01
4,2009123022,NSW1,67,7830.96,2009-12-30 14:31:35,2010-01-01

In [986]:
nsw_forecastdemand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
10906014,2021031736,NSW1,5,7028.45,2021-03-17 21:31:31,2021-03-18
10906015,2021031737,NSW1,4,7041.65,2021-03-17 22:01:34,2021-03-18
10906016,2021031738,NSW1,3,7087.60,2021-03-17 22:31:36,2021-03-18
10906017,2021031739,NSW1,2,7087.28,2021-03-17 23:01:36,2021-03-18
10906018,2021031740,NSW1,1,7126.37,2021-03-17 23:31:33,2021-03-18

In [987]:
nsw_forecastdemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10906019 entries, 0 to 10906018
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 499.2+ MB

In [988]:
nsw_forecastdemand['FORECASTDEMAND'].describe()

count    1.090602e+07
mean     8.066719e+03
std      1.315959e+03
min      4.422460e+03
25%      7.077970e+03
50%      8.007550e+03
75%      8.925610e+03
max      1.473666e+04
Name: FORECASTDEMAND, dtype: float64

In [989]:
nsw_forecastdemand.shape

(10906019, 6)

In [990]:
nsw_forecastdemand.min()

PREDISPATCHSEQNO             2009123018
REGIONID                           NSW1
PERIODID                              1
FORECASTDEMAND                  4422.46
LASTCHANGED         2009-12-30 12:31:49
DATETIME            2010-01-01 00:00:00
dtype: object

In [991]:
nsw_forecastdemand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                           NSW1
PERIODID                             79
FORECASTDEMAND                 14736.66
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-18 00:00:00
dtype: object

In [992]:
nsw_forecastdemand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [993]:
nsw_forecastdemand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [994]:
nsw_forecastdemand.nunique()

PREDISPATCHSEQNO    196571
REGIONID                 1
PERIODID                79
FORECASTDEMAND      681384
LASTCHANGED         196571
DATETIME            196513
dtype: int64

In [995]:
nsw_forecastdemand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

## NSW temperature

In [996]:
nsw_temperature = pd.read_csv(os.path.join(data_path, 'NSW', 'temperature_nsw.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [997]:
nsw_temperature.head()

    LOCATION            DATETIME  TEMPERATURE
0  Bankstown 2010-01-01 00:00:00         23.1
1  Bankstown 2010-01-01 00:01:00         23.1
2  Bankstown 2010-01-01 00:30:00         22.9
3  Bankstown 2010-01-01 00:50:00         22.7
4  Bankstown 2010-01-01 01:00:00         22.6

In [998]:
nsw_temperature.tail()

         LOCATION            DATETIME  TEMPERATURE
220321  Bankstown 2021-03-17 23:00:00         19.1
220322  Bankstown 2021-03-17 23:20:00         19.0
220323  Bankstown 2021-03-17 23:30:00         18.8
220324  Bankstown 2021-03-17 23:34:00         18.8
220325  Bankstown 2021-03-18 00:00:00         18.6

In [999]:
nsw_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220326 entries, 0 to 220325
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     220326 non-null  object
 1   DATETIME     220326 non-null  datetime64[ns]
 2   TEMPERATURE  220326 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.0+ MB

In [1000]:
nsw_temperature.describe()

                            DATETIME    TEMPERATURE
count                         220326  220326.000000
mean   2015-08-16 07:59:12.964243712      17.418827
min              2010-01-01 00:00:00      -1.300000
25%              2012-11-02 23:07:30      13.400000
50%              2015-08-16 13:45:00      17.700000
75%              2018-06-03 14:22:30      21.300000
max              2021-03-18 00:00:00      44.700000
std                              NaN       5.849763

In [1001]:
nsw_temperature.shape

(220326, 3)

In [1002]:
nsw_temperature.min()

LOCATION                 Bankstown
DATETIME       2010-01-01 00:00:00
TEMPERATURE                   -1.3
dtype: object

In [1003]:
nsw_temperature.max()

LOCATION                 Bankstown
DATETIME       2021-03-18 00:00:00
TEMPERATURE                   44.7
dtype: object

In [1004]:
nsw_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1005]:
nsw_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [1006]:
nsw_temperature.nunique()

LOCATION            1
DATETIME       220313
TEMPERATURE       439
dtype: int64

In [1007]:
nsw_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## NSW Total Demand

In [1008]:
nsw_totaldemand = pd.read_csv(os.path.join(data_path, 'NSW', 'totaldemand_nsw.csv'), parse_dates=['DATETIME'], dayfirst=True)

In [1009]:
nsw_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      8038.00     NSW1
1 2010-01-01 00:30:00      7809.31     NSW1
2 2010-01-01 01:00:00      7483.69     NSW1
3 2010-01-01 01:30:00      7117.23     NSW1
4 2010-01-01 02:00:00      6812.03     NSW1

In [1010]:
nsw_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196508 2021-03-17 22:00:00      7419.77     NSW1
196509 2021-03-17 22:30:00      7417.91     NSW1
196510 2021-03-17 23:00:00      7287.32     NSW1
196511 2021-03-17 23:30:00      7172.39     NSW1
196512 2021-03-18 00:00:00      7094.51     NSW1

In [1011]:
nsw_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196513 entries, 0 to 196512
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196513 non-null  datetime64[ns]
 1   TOTALDEMAND  196513 non-null  float64
 2   REGIONID     196513 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [1012]:
nsw_totaldemand['TOTALDEMAND'].describe()

count    196513.000000
mean       8113.145859
std        1299.532774
min        5074.630000
25%        7150.070000
50%        8053.230000
75%        8958.550000
max       14579.860000
Name: TOTALDEMAND, dtype: float64

In [1013]:
nsw_totaldemand.shape

(196513, 3)

In [1014]:
nsw_totaldemand.min()

DATETIME       2010-01-01 00:00:00
TOTALDEMAND                5074.63
REGIONID                      NSW1
dtype: object

In [1015]:
nsw_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND               14579.86
REGIONID                      NSW1
dtype: object

In [1016]:
nsw_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1017]:
nsw_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [1018]:
nsw_totaldemand.nunique()

DATETIME       196513
TOTALDEMAND    160515
REGIONID            1
dtype: int64

In [1019]:
nsw_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object