In [4]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [5]:
# general settings
class CFG:
    """
    Configuration class
    """
    data_path = './../data'
    img_dim1 = 20
    img_dim2 = 10
    
    
plt.style.use('fivethirtyeight')   
plt.rcParams.update({'figure.figsize': (CFG.img_dim1, CFG.img_dim2)})

In [6]:
df = pd.read_parquet(
    os.path.join(CFG.data_path, 'operational_demand_actual_hh_consolidated.parquet'))

In [7]:
df.head()

,I,OPERATIONAL_DEMAND,ACTUAL,3,REGIONID,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
0,D,OPERATIONAL_DEMAND,ACTUAL,3,NSW1,2023-09-19 08:00:00,6860,0,0,2023-09-19 08:00:01
1,D,OPERATIONAL_DEMAND,ACTUAL,3,QLD1,2023-09-19 08:00:00,5745,0,0,2023-09-19 08:00:01
2,D,OPERATIONAL_DEMAND,ACTUAL,3,SA1,2023-09-19 08:00:00,1290,0,0,2023-09-19 08:00:01
3,D,OPERATIONAL_DEMAND,ACTUAL,3,TAS1,2023-09-19 08:00:00,1253,0,0,2023-09-19 08:00:01
4,D,OPERATIONAL_DEMAND,ACTUAL,3,VIC1,2023-09-19 08:00:00,4896,0,0,2023-09-19 08:00:01

In [ ]:
df.tail()

In [ ]:
df.shape

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96905 entries, 0 to 96904
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   I                              96905 non-null  object
 1   OPERATIONAL_DEMAND             96905 non-null  object
 2   ACTUAL                         96905 non-null  object
 3   3                              96905 non-null  int64
 4   REGIONID                       96905 non-null  object
 5   INTERVAL_DATETIME              96905 non-null  datetime64[ns]
 6   OPERATIONAL_DEMAND.1           96905 non-null  int64
 7   OPERATIONAL_DEMAND_ADJUSTMENT  96905 non-null  int64
 8   WDR_ESTIMATE                   96905 non-null  int64
 9   LASTCHANGED                    96905 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 7.4+ MB

In [9]:
df.describe()

,3,INTERVAL_DATETIME,OPERATIONAL_DEMAND.1,OPERATIONAL_DEMAND_ADJUSTMENT,WDR_ESTIMATE,LASTCHANGED
count,96905.0,96905,96905.000000,96905.0,96905.000000,96905
mean,3.0,2023-08-28 17:02:50.889015040,4229.114256,0.0,0.005913,2023-08-28 17:02:52.190919424
min,3.0,2023-02-05 00:00:00,-26.000000,0.0,0.000000,2023-02-05 00:00:02
25%,3.0,2023-05-20 00:30:00,1287.000000,0.0,0.000000,2023-05-20 00:30:01
50%,3.0,2023-08-28 23:00:00,4591.000000,0.0,0.000000,2023-08-28 23:00:01
75%,3.0,2023-12-07 21:30:00,6472.000000,0.0,0.000000,2023-12-07 21:30:01
max,3.0,2024-03-17 20:00:00,13643.000000,0.0,21.000000,2024-03-17 20:00:01
std,0.0,NaN,2763.717754,0.0,0.242607,NaN

In [10]:
df['INTERVAL_DATETIME'].min()

Timestamp('2023-02-05 00:00:00')

In [11]:
df['INTERVAL_DATETIME'].max()

Timestamp('2024-03-17 20:00:00')