In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
# general settings
class CFG:
    data_path = './../data'
    img_dim1 = 20
    img_dim2 = 10
    
    
plt.style.use('fivethirtyeight')   
plt.rcParams.update({'figure.figsize': (CFG.img_dim1, CFG.img_dim2)})

In [3]:
df = pd.read_parquet(os.path.join(CFG.data_path, 'Combined_PUBLIC_DVD_PERDEMAND.parquet'))

In [4]:
df.head()

,I,DEMAND,PERIOD,1,EFFECTIVEDATE,SETTLEMENTDATE,REGIONID,OFFERDATE,PERIODID,VERSIONNO,RESDEMAND,DEMAND90PROBABILITY,DEMAND10PROBABILITY,LASTCHANGED,MR_SCHEDULE
0,D,DEMAND,PERIOD,1,2022-05-01,2022-05-01,VIC1,2022-04-24,11,6,3992,3686,4298,2022/04/24 02:58:48,0
1,D,DEMAND,PERIOD,1,2022-05-01,2022-05-01,VIC1,2022-04-24,12,6,3876,3578,4173,2022/04/24 02:58:48,0
2,D,DEMAND,PERIOD,1,2022-05-01,2022-05-01,VIC1,2022-04-24,13,6,3746,3458,4034,2022/04/24 02:58:48,0
3,D,DEMAND,PERIOD,1,2022-05-01,2022-05-01,VIC1,2022-04-24,14,6,3631,3351,3910,2022/04/24 02:58:48,0
4,D,DEMAND,PERIOD,1,2022-05-01,2022-05-01,VIC1,2022-04-24,15,6,3545,3271,3818,2022/04/24 02:58:48,0

In [5]:
df.tail()

,I,DEMAND,PERIOD,1,EFFECTIVEDATE,SETTLEMENTDATE,REGIONID,OFFERDATE,PERIODID,VERSIONNO,RESDEMAND,DEMAND90PROBABILITY,DEMAND10PROBABILITY,LASTCHANGED,MR_SCHEDULE
74279419,D,DEMAND,PERIOD,1,2023-04-30,2023-04-30,NSW1,2023-04-30,29,37,8979,8831,9126,2023/04/30 18:28:10,0
74279420,D,DEMAND,PERIOD,1,2023-04-30,2023-04-30,NSW1,2023-04-30,30,37,8734,8590,8877,2023/04/30 18:28:10,0
74279421,D,DEMAND,PERIOD,1,2023-04-30,2023-04-30,NSW1,2023-04-30,31,37,8521,8362,8680,2023/04/30 18:28:10,0
74279422,D,DEMAND,PERIOD,1,2023-04-30,2023-04-30,NSW1,2023-04-30,32,37,8386,8212,8561,2023/04/30 18:28:10,0
74279423,D,DEMAND,PERIOD,1,2023-04-30,2023-04-30,NSW1,2023-04-30,33,37,8249,8060,8439,2023/04/30 18:28:10,0

In [6]:
df.dtypes

I                              object
DEMAND                         object
PERIOD                         object
1                               int64
EFFECTIVEDATE          datetime64[ns]
SETTLEMENTDATE         datetime64[ns]
REGIONID                       object
OFFERDATE              datetime64[ns]
PERIODID                        int64
VERSIONNO                       int64
RESDEMAND                       int64
DEMAND90PROBABILITY             int64
DEMAND10PROBABILITY             int64
LASTCHANGED                    object
MR_SCHEDULE                     int64
dtype: object