In [12]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [13]:
# general settings
class CFG:
    data_path = './../data'
    img_dim1 = 20
    img_dim2 = 10
    
    
plt.style.use('fivethirtyeight')   
plt.rcParams.update({'figure.figsize': (CFG.img_dim1, CFG.img_dim2)})

In [14]:
df = pd.read_csv(os.path.join(CFG.data_path, 'public_prices_consolidated.csv'), parse_dates=['SETTLEMENTDATE'])
df.head()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
0,D,DREGION,NaN,2,2024-01-23 04:05:00,1,NSW1,0,41.81844,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
1,D,DREGION,NaN,2,2024-01-23 04:05:00,1,QLD1,0,62.73000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
2,D,DREGION,NaN,2,2024-01-23 04:05:00,1,SA1,0,34.16184,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0
3,D,DREGION,NaN,2,2024-01-23 04:05:00,1,TAS1,0,53.71593,0,...,0,0.45,0.45,0,0.0,0.0,0,2.65,2.65,0
4,D,DREGION,NaN,2,2024-01-23 04:05:00,1,VIC1,0,34.94000,0,...,0,0.45,0.45,0,0.0,0.0,0,3.76,3.76,0

In [15]:
df.tail()

,I,DREGION,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,REGIONID,INTERVENTION,RRP,EEP,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
645265,D,DREGION,NaN,2,2024-02-26 04:00:00,1,NSW1,0,68.00000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
645266,D,DREGION,NaN,2,2024-02-26 04:00:00,1,QLD1,0,70.92975,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
645267,D,DREGION,NaN,2,2024-02-26 04:00:00,1,SA1,0,50.43366,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0
645268,D,DREGION,NaN,2,2024-02-26 04:00:00,1,TAS1,0,68.21000,0,...,0,0.39,0.39,0,0.0,0.0,0,3.70,3.70,0
645269,D,DREGION,NaN,2,2024-02-26 04:00:00,1,VIC1,0,35.95003,0,...,0,0.39,0.39,0,0.0,0.0,0,3.75,3.75,0

In [16]:
df.describe()

,Unnamed: 2,2,SETTLEMENTDATE,RUNNO,INTERVENTION,RRP,EEP,ROP,APCFLAG,MARKETSUSPENDEDFLAG,...,LOWER6SECAPCFLAG,LOWER60SECRRP,LOWER60SECROP,LOWER60SECAPCFLAG,LOWER5MINRRP,LOWER5MINROP,LOWER5MINAPCFLAG,LOWERREGRRP,LOWERREGROP,LOWERREGAPCFLAG
count,0.0,645270.0,645270,645270.0,645270.000000,645270.000000,645270.0,6.452700e+05,645270.000000,645270.000000,...,645270.000000,645270.000000,645270.000000,645270.0,645270.000000,645270.000000,645270.0,645270.000000,645270.000000,645270.000000
mean,NaN,2.0,2023-08-13 23:23:07.254172928,1.0,0.000232,75.747799,0.0,9.568197e+01,0.005796,0.000719,...,0.000012,3.585216,3.584948,0.0,1.631049,1.630987,0.0,8.186769,8.418277,0.000006
min,NaN,2.0,2023-01-01 04:05:00,1.0,0.000000,-999.999470,0.0,-9.999995e+02,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,NaN,2.0,2023-04-24 02:10:00,1.0,0.000000,19.141135,0.0,1.914007e+01,0.000000,0.000000,...,0.000000,0.380000,0.380000,0.0,0.150000,0.150000,0.0,3.610000,3.610000,0.000000
50%,NaN,2.0,2023-08-14 02:47:30,1.0,0.000000,62.362000,0.0,6.236033e+01,0.000000,0.000000,...,0.000000,0.390000,0.390000,0.0,0.390000,0.390000,0.0,3.990000,3.990000,0.000000
75%,NaN,2.0,2023-12-04 03:25:00,1.0,0.000000,100.000000,0.0,1.000000e+02,0.000000,0.000000,...,0.000000,1.400000,1.400000,0.0,0.410000,0.410000,0.0,7.120000,7.120000,0.000000
max,NaN,2.0,2024-03-25 04:00:00,1.0,1.000000,16600.000000,0.0,2.325000e+06,20.000000,2.000000,...,4.000000,16600.000000,16600.000000,0.0,999.000000,999.000000,0.0,16600.000000,166009.880000,4.000000
std,NaN,0.0,NaN,0.0,0.015245,327.590204,0.0,4.146441e+03,0.294936,0.034716,...,0.007042,59.320874,59.320884,0.0,5.600570,5.600582,0.0,26.800020,207.357432,0.004980

In [17]:
df.dtypes

I                           object
DREGION                     object
Unnamed: 2                 float64
2                            int64
SETTLEMENTDATE      datetime64[ns]
                         ...
LOWER5MINROP               float64
LOWER5MINAPCFLAG             int64
LOWERREGRRP                float64
LOWERREGROP                float64
LOWERREGAPCFLAG              int64
Length: 120, dtype: object

In [18]:
df.shape

(645270, 120)