In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import autocorrelation_plot

In [2]:
# general settings
class CFG:
    data_path = './../data'
    img_dim1 = 14
    img_dim2 = 7

In [3]:
# adjust params for figs
plt.style.use('fivethirtyeight')
plt.rcParams.update({'figure.figsize': (CFG.img_dim1, CFG.img_dim2)})

In [4]:
rooftop_pv_actual_consolidated_df = pd.read_csv(os.path.join(CFG.data_path, 'rooftop_pv_actual_consolidated.csv'))
rooftop_pv_actual_consolidated_df.head()

,I,ROOFTOP,ACTUAL,2,INTERVAL_DATETIME,REGIONID,POWER,QI,TYPE,LASTCHANGED
0,D,ROOFTOP,ACTUAL,2,2023/03/05 10:30:00,NSW1,3294.058,0.6,SATELLITE,2023/03/05 10:50:19
1,D,ROOFTOP,ACTUAL,2,2023/03/05 10:30:00,QLD1,3011.525,0.6,SATELLITE,2023/03/05 10:50:19
2,D,ROOFTOP,ACTUAL,2,2023/03/05 10:30:00,QLDC,275.472,0.6,SATELLITE,2023/03/05 10:50:19
3,D,ROOFTOP,ACTUAL,2,2023/03/05 10:30:00,QLDN,351.034,0.6,SATELLITE,2023/03/05 10:50:19
4,D,ROOFTOP,ACTUAL,2,2023/03/05 10:30:00,QLDS,2385.019,0.6,SATELLITE,2023/03/05 10:50:19