In [39]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
data_path = './../data'

## SA Forecast Demand

In [41]:
sa_forecast_demand = pd.read_csv(os.path.join(data_path, 'Australia', 'b', 'forecastdemand_sa.csv'), parse_dates=['LASTCHANGED', 'DATETIME'])

In [42]:
sa_forecast_demand.head()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
0,2016123018,SA1,71,1394.41,2016-12-30 12:31:25,2017-01-01 00:00:00
1,2016123018,SA1,72,1285.07,2016-12-30 12:31:25,2017-01-01 00:30:00
2,2016123018,SA1,73,1221.70,2016-12-30 12:31:25,2017-01-01 01:00:00
3,2016123018,SA1,74,1141.86,2016-12-30 12:31:25,2017-01-01 01:30:00
4,2016123018,SA1,75,1087.78,2016-12-30 12:31:25,2017-01-01 02:00:00

In [43]:
sa_forecast_demand.tail()

,PREDISPATCHSEQNO,REGIONID,PERIODID,FORECASTDEMAND,LASTCHANGED,DATETIME
4095587,2021031740,SA1,53,1228.07,2021-03-17 23:31:33,2021-03-19 02:00:00
4095588,2021031740,SA1,54,1208.17,2021-03-17 23:31:33,2021-03-19 02:30:00
4095589,2021031740,SA1,55,1199.27,2021-03-17 23:31:33,2021-03-19 03:00:00
4095590,2021031740,SA1,56,1194.31,2021-03-17 23:31:33,2021-03-19 03:30:00
4095591,2021031740,SA1,57,1190.41,2021-03-17 23:31:33,2021-03-19 04:00:00

In [44]:
sa_forecast_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095592 entries, 0 to 4095591
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   PREDISPATCHSEQNO  int64
 1   REGIONID          object
 2   PERIODID          int64
 3   FORECASTDEMAND    float64
 4   LASTCHANGED       datetime64[ns]
 5   DATETIME          datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(1)
memory usage: 187.5+ MB

In [45]:
sa_forecast_demand['FORECASTDEMAND'].describe()

count    4.095592e+06
mean     1.299720e+03
std      3.293395e+02
min      1.198300e+02
25%      1.103100e+03
50%      1.269130e+03
75%      1.463940e+03
max      3.161750e+03
Name: FORECASTDEMAND, dtype: float64

In [46]:
sa_forecast_demand.shape

(4095592, 6)

In [47]:
sa_forecast_demand.min()

PREDISPATCHSEQNO             2016123018
REGIONID                            SA1
PERIODID                              1
FORECASTDEMAND                   119.83
LASTCHANGED         2016-12-30 12:31:25
DATETIME            2017-01-01 00:00:00
dtype: object

In [48]:
sa_forecast_demand.max()

PREDISPATCHSEQNO             2021031740
REGIONID                            SA1
PERIODID                             79
FORECASTDEMAND                  3161.75
LASTCHANGED         2021-03-17 23:31:33
DATETIME            2021-03-19 04:00:00
dtype: object

In [49]:
sa_forecast_demand.isnull().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [50]:
sa_forecast_demand.isna().sum()

PREDISPATCHSEQNO    0
REGIONID            0
PERIODID            0
FORECASTDEMAND      0
LASTCHANGED         0
DATETIME            0
dtype: int64

In [51]:
sa_forecast_demand.nunique()

PREDISPATCHSEQNO     73836
REGIONID                 1
PERIODID                79
FORECASTDEMAND      215933
LASTCHANGED          73836
DATETIME             73833
dtype: int64

In [52]:
sa_forecast_demand.dtypes

PREDISPATCHSEQNO             int64
REGIONID                    object
PERIODID                     int64
FORECASTDEMAND             float64
LASTCHANGED         datetime64[ns]
DATETIME            datetime64[ns]
dtype: object

## SA Temperatures

In [53]:
sa_temperature = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'temprature_sa.csv'), parse_dates=['DATETIME'], index_col=0)

In [54]:
sa_temperature.head()

               LOCATION            DATETIME  TEMPERATURE
0  Adelaide (Kent Town) 2010-01-01 00:00:00         23.6
1  Adelaide (Kent Town) 2010-01-01 00:30:00         23.7
2  Adelaide (Kent Town) 2010-01-01 01:00:00         23.5
3  Adelaide (Kent Town) 2010-01-01 01:30:00         22.6
4  Adelaide (Kent Town) 2010-01-01 02:00:00         22.0

In [55]:
sa_temperature.tail()

                    LOCATION            DATETIME  TEMPERATURE
208080  Adelaide (Kent Town) 2021-03-17 22:00:00         19.6
208081  Adelaide (Kent Town) 2021-03-17 22:30:00         19.5
208082  Adelaide (Kent Town) 2021-03-17 23:00:00         19.4
208083  Adelaide (Kent Town) 2021-03-17 23:30:00         19.6
208084  Adelaide (Kent Town) 2021-03-18 00:00:00         19.5

In [56]:
sa_temperature.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ MB

In [57]:
sa_temperature.info()
sa_temperature['TEMPERATURE'].describe()

<class 'pandas.core.frame.DataFrame'>
Index: 208085 entries, 0 to 208084
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   LOCATION     208085 non-null  object
 1   DATETIME     208085 non-null  datetime64[ns]
 2   TEMPERATURE  208085 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ MB

count    208085.000000
mean         20.375972
std           5.586945
min           1.300000
25%          16.600000
50%          20.900000
75%          24.300000
max          42.400000
Name: TEMPERATURE, dtype: float64

In [58]:
sa_temperature.shape

(208085, 3)

In [59]:
sa_temperature.min()

LOCATION       Adelaide (Kent Town)
DATETIME        2010-01-01 00:00:00
TEMPERATURE                     1.3
dtype: object

In [60]:
sa_temperature.max()

LOCATION       Adelaide (Kent Town)
DATETIME        2021-03-18 00:00:00
TEMPERATURE                    42.4
dtype: object

In [61]:
sa_temperature.isnull().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [62]:
sa_temperature.isna().sum()

LOCATION       0
DATETIME       0
TEMPERATURE    0
dtype: int64

In [63]:
sa_temperature.nunique()

LOCATION            1
DATETIME       208085
TEMPERATURE       391
dtype: int64

In [64]:
sa_temperature.dtypes

LOCATION               object
DATETIME       datetime64[ns]
TEMPERATURE           float64
dtype: object

## SA total demand

In [65]:
sa_totaldemand = pd.read_csv(os.path.join(data_path, 'Australia', 'd', 'totaldemand_sa.csv'), parse_dates=['DATETIME'])

In [66]:
sa_totaldemand.head()

             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:30:00      1385.23      SA1
1 2010-01-01 01:00:00      1338.53      SA1
2 2010-01-01 01:30:00      1260.39      SA1
3 2010-01-01 02:00:00      1189.31      SA1
4 2010-01-01 02:30:00      1141.12      SA1

In [67]:
sa_totaldemand.tail()

                  DATETIME  TOTALDEMAND REGIONID
196507 2021-03-17 22:00:00      1277.91      SA1
196508 2021-03-17 22:30:00      1226.81      SA1
196509 2021-03-17 23:00:00      1202.62      SA1
196510 2021-03-17 23:30:00      1194.34      SA1
196511 2021-03-18 00:00:00      1340.58      SA1

In [68]:
sa_totaldemand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196512 entries, 0 to 196511
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATETIME     196512 non-null  datetime64[ns]
 1   TOTALDEMAND  196512 non-null  float64
 2   REGIONID     196512 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

In [69]:
sa_totaldemand['TOTALDEMAND'].describe()

count    196512.000000
mean       1383.901566
std         326.494153
min          21.890000
25%        1164.480000
50%        1346.140000
75%        1567.342500
max        3385.420000
Name: TOTALDEMAND, dtype: float64

In [70]:
sa_totaldemand.shape

(196512, 3)

In [71]:
sa_totaldemand.min()

DATETIME       2010-01-01 00:30:00
TOTALDEMAND                  21.89
REGIONID                       SA1
dtype: object

In [72]:
sa_totaldemand.max()

DATETIME       2021-03-18 00:00:00
TOTALDEMAND                3385.42
REGIONID                       SA1
dtype: object

In [73]:
sa_totaldemand.isnull().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [74]:
sa_totaldemand.isna().sum()

DATETIME       0
TOTALDEMAND    0
REGIONID       0
dtype: int64

In [75]:
sa_totaldemand.nunique()

DATETIME       196512
TOTALDEMAND     95534
REGIONID            1
dtype: int64

In [76]:
sa_totaldemand.dtypes

DATETIME       datetime64[ns]
TOTALDEMAND           float64
REGIONID               object
dtype: object

## Merge

In [77]:
merged_df = pd.merge(sa_totaldemand, sa_forecast_demand, on='DATETIME', how='outer')
merged_df.head()

,DATETIME,TOTALDEMAND,REGIONID_x,PREDISPATCHSEQNO,REGIONID_y,PERIODID,FORECASTDEMAND,LASTCHANGED
0,2010-01-01 00:30:00,1385.23,SA1,NaN,NaN,NaN,NaN,NaT
1,2010-01-01 01:00:00,1338.53,SA1,NaN,NaN,NaN,NaN,NaT
2,2010-01-01 01:30:00,1260.39,SA1,NaN,NaN,NaN,NaN,NaT
3,2010-01-01 02:00:00,1189.31,SA1,NaN,NaN,NaN,NaN,NaT
4,2010-01-01 02:30:00,1141.12,SA1,NaN,NaN,NaN,NaN,NaT

In [78]:
sa_df = pd.merge(merged_df, sa_temperature, on='DATETIME', how='outer')
sa_df.head()

,DATETIME,TOTALDEMAND,REGIONID_x,PREDISPATCHSEQNO,REGIONID_y,PERIODID,FORECASTDEMAND,LASTCHANGED,LOCATION,TEMPERATURE
0,2010-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,Adelaide (Kent Town),23.6
1,2010-01-01 00:30:00,1385.23,SA1,NaN,NaN,NaN,NaN,NaT,Adelaide (Kent Town),23.7
2,2010-01-01 01:00:00,1338.53,SA1,NaN,NaN,NaN,NaN,NaT,Adelaide (Kent Town),23.5
3,2010-01-01 01:30:00,1260.39,SA1,NaN,NaN,NaN,NaN,NaT,Adelaide (Kent Town),22.6
4,2010-01-01 02:00:00,1189.31,SA1,NaN,NaN,NaN,NaN,NaT,Adelaide (Kent Town),22.0