In [93]:
import pandas as pd
import os

In [94]:
# general settings
class CFG:
    data_path = './../data'
    img_dim1 = 20
    img_dim2 = 10

In [95]:
totaldemand_nsw = pd.read_csv(
    os.path.join(CFG.data_path, 'NSW', 'totaldemand_nsw.csv'), 
    parse_dates=['DATETIME']
)

In [96]:
totaldemand_nsw.head()

        DATETIME  TOTALDEMAND REGIONID
0  1/1/2010 0:00      8038.00     NSW1
1  1/1/2010 0:30      7809.31     NSW1
2  1/1/2010 1:00      7483.69     NSW1
3  1/1/2010 1:30      7117.23     NSW1
4  1/1/2010 2:00      6812.03     NSW1

In [97]:
totaldemand_nsw.to_parquet(
    os.path.join(CFG.data_path, 'NSW', 'totaldemand_nsw.parquet')
)